@page
@model RiseDiary.WebUI.Pages.RecordsViewModel
@{
    ViewData["Title"] = "Поиск записей";
    ViewData["TitlePart"] = "Поиск записей";
}

<table class="table table-striped" style="table-layout:fixed">
    <thead>
        <tr>
            <th style="vertical-align: middle;width:10%">Дата</th>
            <th style="vertical-align: middle;width:20%">Название</th>
            <th style="vertical-align: middle;width:30%">Текст записи</th>
            <th style="vertical-align: middle;">Дата создания</th>
            <th style="vertical-align: middle;">Дата изменения</th>
            <th colspan="2" style="text-align:center;width:12%">
                <input type="hidden" name="currentPageNo" id="currentPageNo" value="@Model.Filters.PageNo" />
                <ul class="pagination pagination-sm" style="margin:0px;">
                    <li class="page-item">
                        <a href="#" id="prevPage">&nbsp;&lt;&nbsp;</a>
                    </li>
                    <li class="page-item active">
                        <input type="hidden" id="currentPage" value="@Model.Filters.PageNo" />
                        <span>@(Model.Filters.PageNo + 1) / @(Math.Ceiling((float)Model.RecordsCount / Model.Filters.PageSize))</span>
                    </li>
                    <li class="page-item">
                        <a href="#" id="nextPage">&nbsp;&gt;&nbsp;</a>
                    </li>
                </ul>
            </th>
        </tr>
        <tr>
            <th style="padding:2px;">
                <input type="text" class="form-control" style="margin:0px;" placeholder="От" id="filterFromDate" value="@(Model.Filters.RecordDateFrom?.ToString("yyyy.MM.dd") ?? string.Empty)" />
                <input type="text" class="form-control" placeholder="До" id="filterToDate" value="@(Model.Filters.RecordDateTo?.ToString("yyyy.MM.dd") ?? string.Empty)" />
            </th>
            <th style="padding:2px;vertical-align: middle;">
                <input type="text" class="form-control" placeholder="Фильтр по названию" id="filterName" value="@Model.Filters.RecordNameFilter" />
            </th>
            <th colspan="3" style="vertical-align: middle;">                
                    <select multiple="multiple" name="themes[]" id="themes" placeholder="Темы" class="multiselect" style="width:560px; height:30px;">
                        @foreach (var scope in Model.AllScopes)
                        {
                            <optgroup label="@scope.ScopeName">
                                @foreach (var theme in Model.AllThemes.Where(t => t.ScopeId == scope.Id))
                                {
                                    @if (Model.SelectedThemes.Contains(theme.Id))
                                    {
                                        <option selected="selected" value="@theme.Id">@theme.ThemeName</option>
                                    }
                                    else
                                    {
                                        <option value="@theme.Id">@theme.ThemeName</option>
                                    }
                                }
                            </optgroup>
                        }                        
                    </select>                
            </th>
            <th colspan="2" style="vertical-align: middle;text-align:center">
                <a class="btn btn-default" id="btnSearch">Поиск</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rec in Model.Records)
        {
            <tr>
                <td>@rec.Date.ToString("yyyy.MM.dd")</td>
                <td>@rec.RecordNameDisplay</td>
                <td>@rec.RecordTextShort</td>
                <td>@rec.CreateDate.ToString("G")</td>
                <td>@rec.ModifyDate.ToString("G")</td>
                <td><a asp-page="RecordEdit" asp-route-recordId="@rec.Id">Edit</a></td>
                <td><a asp-page="RecordView" asp-route-recordId="@rec.Id">View</a></td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="7"><b><i>Записей отфильтровано : @Model.RecordsCount </i></b></td>
        </tr>
    </tfoot>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">

        function getThemesUri(themes) {          
            if (themes === null) return "";
            let res = "";
            for (let i= 0; i < themes.length; i++){
                res = res + "&themes=" + themes[i];
            }
            return res;
        }

        $(function () {
            $("#filterFromDate").datepicker({ dateFormat: 'yy.mm.dd' });
            $("#filterToDate").datepicker({ dateFormat: 'yy.mm.dd' });

            $("#btnSearch").on('click', function () {
                window.location.replace(
                    'RecordsView?handler=Search' +
                    '&fromDate=' + encodeURIComponent($("#filterFromDate").val()) +
                    '&toDate=' + encodeURIComponent($("#filterToDate").val()) +
                     getThemesUri($('.multiselect').val()) +
                    '&searchName=' + encodeURIComponent($("#filterName").val()));
            });
            $("#prevPage").on('click', function () {
                window.location.replace(
                    'RecordsView?handler=PrevPage' +
                    '&fromDate=' + encodeURIComponent($("#filterFromDate").val()) +
                    '&toDate=' + encodeURIComponent($("#filterToDate").val()) +
                     getThemesUri($('.multiselect').val()) +
                    '&searchName=' + encodeURIComponent($("#filterName").val()) +
                    '&pageNo=' + encodeURIComponent($("#currentPage").val()));
            });
            $("#nextPage").on('click', function () {
                window.location.replace(
                    'RecordsView?handler=NextPage' +
                    '&fromDate=' + encodeURIComponent($("#filterFromDate").val()) +
                    '&toDate=' + encodeURIComponent($("#filterToDate").val()) +
                     getThemesUri($('.multiselect').val()) +
                    '&searchName=' + encodeURIComponent($("#filterName").val()) +
                    '&pageNo=' + encodeURIComponent($("#currentPage").val()));
            });

            $('.multiselect').SumoSelect({ csvDispCount: 7 });
            $('.SumoSelect').width('500px');
        });
        
    </script>
}