@page
@model ScopePageModel
@{
    ViewData["Title"] = "Области интересов и темы";
    ViewData["TitlePart"] = "Области интересов и относящиеся к ним темы, обдумывемые в записях";
}

@if (!Model.ModelState.IsValid)
{
    <div class="row col-lg-4 col-lg-offset-4" style="color:red; background-color:khaki; margin-bottom:5px;">
        <p>
            Ошибка валидации:
            @Html.ValidationSummary()
        </p>
    </div>
}

<div class="row">
    <div class="col-md-7">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th colspan="3">Темы из областей интересов</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var rt in Model.Themes)
                {
                    <tr>
                        <td style="width:25%">@rt.ScopeName</td>
                        <td>
                            <form asp-page-handler="UpdateThemeName" method="post">
                                <div class="form-inline">
                                    <input type="hidden" name="themeId" value="@rt.Id" class="form-control" />
                                    <input type="text" name="themeName" value="@rt.ThemeName" class="form-control" style="width:70%" />
                                    &nbsp;
                                    <input type="submit" class="btn btn-sm btn-warning form-control" value="Сохранить" />
                                </div>
                            </form>
                        </td>
                        <td>
                            <form asp-page-handler="DeleteTheme" method="post">
                                <input type="hidden" name="themeId" value="@rt.Id" class="form-control" />
                                <input type="submit" class="btn btn-sm btn-danger form-control" value="Удалить" />
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">
                        <br />
                        <form asp-page-handler="AddNewTheme" method="post">
                            <div class="form-inline">
                                <select id="scopeIdForTheme" name="scopeIdForTheme" class="form-control" style="width:30%">
                                    @foreach (var scope in Model.Scopes)
                                    {
                                        <option value="@scope.Id">@scope.ScopeName</option>
                                    }
                                </select>
                                &nbsp;
                                <input type="text" class="form-control" id="newThemeName" name="newThemeName" style="width:50%" placeholder="Название новой темы" />
                                &nbsp;
                                <input type="submit" class="form-control btn btn-success btn-sm" value="Добавить" style="width:100px;" />
                            </div>
                        </form>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="col-md-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th colspan="2">Области интересов</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var scope in Model.Scopes)
                {
                    <tr>
                        <td>
                            <form asp-page-handler="UpdateScopeName" method="post">
                                <div class="form-inline">
                                    <input type="hidden" name="scopeId" value="@scope.Id" class="form-control" />
                                    <input type="text" name="scopeName" value="@scope.ScopeName" class="form-control" style="width:70%" />
                                    &nbsp;
                                    <input type="submit" class="btn btn-sm btn-warning form-control" value="Сохранить" />
                                </div>
                            </form>
                        </td>
                        <td>
                            <form asp-page-handler="DeleteScope" method="post">
                                <input type="hidden" name="scopeId" value="@scope.Id" class="form-control" />
                                <input type="submit" class="btn btn-sm btn-danger form-control" value="Удалить" />
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">
                        <br />
                        <form asp-page-handler="AddScope" method="post">
                            <div class="form-inline">
                                <input class="form-control" type="text" id="newScopeName" name="newScopeName" style="width:55%" placeholder="Название новой области" />
                                &nbsp;
                                <input class="btn btn-sm btn-success form-control" type="submit" value="Добавить" />
                            </div>
                        </form>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

</div>