@page
@model RiseDiary.WebUI.Pages.CalendarModel
@{
    ViewData["Title"] = "Календарь";
}

    <div class="col-12">
        <div class="row">
            <div class="col-lg-10 col-sm-12">
                <form method="get">
                    @foreach (var st in Model.SelectedThemes)
                    {
                        <input type="hidden" name="themes" value="@st" />
                    }

                    <input type="hidden" name="combineThemes" value="@Model.CombineThemes.ToString()" />

                    @foreach(int y in Model.YearsListFiltered)
                    {
                        @if(y == Model.CurrentYear)
                        {
                            <input type="submit" class="btn btn-link text-decoration-none disabled" name="year" value="@y" />
                        }
                        else
                        {
                            <input type="submit" class="btn btn-link text-decoration-none" name="year" value="@y" />
                        }
                    }                   
                </form>
            </div>

            <div class="col-lg-2 col-sm-6 my-2">
        <form method="get">

        <input type="hidden" name="year" value="@Model.CurrentYear" />

        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#themesFilter">
            Фильтр по темам
        </button>

        <div class="modal fade" id="themesFilter" tabindex="-1" aria-labelledby="themesFilterLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">

                        <h5 class="modal-title" id="exampleModalLabel">Фильтр по темам</h5>

                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>
                            <label>
                                @if (Model.CombineThemes)
                                {
                                    <input type="checkbox" name="combineThemes" checked="checked" value="true" title="Выводить записи, которые относятся к любой выбранной теме (по правилу 'ИЛИ')" />
                                }
                                else
                                {
                                    <input type="checkbox" name="combineThemes" value="true" title="Выводить записи, которые относятся к любой выбранной теме (по правилу 'ИЛИ')" />
                                }
                                Выводить записи, которые относятся к любой выбранной теме (по правилу 'ИЛИ')
                            </label>
                        </p>
                        <hr />
                        <p>
                            <h6>Актуальные темы</h6>
                            <ul>
                                @foreach (var scope in Model.AllScopes)
                                {
                                    @if (scope.Themes.Count(t => t.Actual) > 0)
                                    {
                                        <li>
                                            <h6 style="color:blue">@scope.ScopeName</h6>
                                            <ul>
                                                @foreach (var theme in scope.Themes.Where(t => t.Actual))
                                                {
                                                    <li>
                                                        <label>
                                                            @if (Model.SelectedThemes.Contains(theme.Id))
                                                            {
                                                                <input type="checkbox" name="themes" checked="checked" value="@theme.Id" />
                                                            }
                                                            else
                                                            {
                                                                <input type="checkbox" name="themes" value="@theme.Id" />
                                                            }
                                                            &nbsp;@theme.ThemeName
                                                        </label>
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                }
                            </ul>
                        </p>
                        <hr />
                        <p>
                            <button class="btn btn-link text-decoration-none" type="button" data-bs-toggle="collapse" data-bs-target="#notActualThemes" aria-expanded="false" aria-controls="notActualThemes">
                                Остальные темы
                            </button>

                            <div class="collapse" id="notActualThemes">
                                <ul>
                                    @foreach (var scope in Model.AllScopes)
                                    {
                                        @if (scope.Themes.Count(t => !t.Actual) > 0)
                                        {
                                            <li>
                                                <h6 style="color:blue">@scope.ScopeName</h6>
                                                <ul>
                                                    @foreach (var theme in scope.Themes.Where(t => !t.Actual))
                                                    {
                                                        <li>
                                                            <label>
                                                                @if (Model.SelectedThemes.Contains(theme.Id))
                                                                {
                                                                    <input type="checkbox" name="themes" checked="checked" value="@theme.Id" />
                                                                }
                                                                else
                                                                {
                                                                    <input type="checkbox" name="themes" value="@theme.Id" />
                                                                }
                                                                &nbsp;@theme.ThemeName
                                                            </label>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-info">Применить</button>
                    </div>
                </div>
            </div>
        </div>
       </form>
    </div>
        </div>
    </div>
    
    
    <div class="col-12">
        <div id="calendar"></div>
    </div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true"
     role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalHeader">Записи </h5>
                <button type="button" class="btn-close" aria-label="Close" onclick="closeModal()"></button>
            </div>
            <div class="modal-body" id="modalBody">

            </div>
        </div>
    </div>
</div>

<div class="modal-backdrop fade show" id="backdrop" style="display: none;"></div>


@section Styles {
    <link href="~/lib/calendar/dist/js-year-calendar.min.css" rel="stylesheet" />
}

@section Scripts {

    <script src="~/lib/calendar/dist/js-year-calendar.min.js"></script>

    <script type="text/javascript">

        const dates = @Html.Raw(Model.RecordsJsObjectsList);


        let modal = document.getElementById('exampleModal');

        function openModal() {
            if (!datesExists) return;

            document.getElementById("backdrop").style.display = "block"
            document.getElementById("exampleModal").style.display = "block"
            document.getElementById("exampleModal").classList.add("show");
        }

        function closeModal() {
            document.getElementById("backdrop").style.display = "none"
            document.getElementById("exampleModal").style.display = "none"
            document.getElementById("exampleModal").classList.remove("show");
        }

        let datesExists = false;

        function updateLinksList(startDate) {

            let currentDates = new Array();
            let _date = startDate.getTime();
            for (let i = 0; i < dates.length; i++) {
                if (dates[i].startDate.getTime() === _date) {
                    currentDates.push(dates[i]);
                }
            }

            document.getElementById("modalBody").innerHTML = "";

            if (currentDates.length > 0) {
                let ul = document.createElement("ul");

                for (let i = 0; i < currentDates.length; i++) {
                    let a = document.createElement("a");
                    a.style.textDecoration = "none";
                    a.setAttribute("href", "/Records/View?recordId=" + encodeURIComponent(currentDates[i].id));
                    a.innerHTML = currentDates[i].name;

                    let li = document.createElement("li");
                    li.appendChild(a);
                    li.classList.add("mb-3")
                    ul.appendChild(li);
                }

                document.getElementById("modalBody").appendChild(ul);
                document.getElementById("modalHeader").innerHTML =
                    "Записи " + startDate.getFullYear() + "." +
                    ("0" + (startDate.getMonth() + 1)).slice(-2) + "." +
                    ("0" + startDate.getDate()).slice(-2);

                datesExists = true;
            }
        }

        let currentYear = parseInt("@Model.CurrentYear");

        new Calendar('#calendar', {
            style: 'background',
            enableRangeSelection: true,
            displayHeader: false,
            mouseOnDay: function (e) {
                updateLinksList(e.date);
            },
            mouseOutDay: function (e) {
                datesExists = false;
            },
            selectRange: function (e) {
                openModal();
            },
            startYear: currentYear,
            dataSource: dates
        });

    </script>
}
