@page "{handler?}"
@model RiseDiary.WebUI.Pages.RetrospectModel
@{
    ViewData["Title"] = "Ретроспектива";
}

@section Styles
    {
    <style>
        .record-group {
            margin-bottom: 20px;
            border: 1px solid #e1ff95;
            background-color: #f1f9ec;
            border-radius: 10px;
        }

        .record {
            border: 1px solid #b6ff85;
            background-color: #cefff9;
            border-radius: 10px;
        }

        .cogitation {
            border: 1px solid #33CCCC;
            background-color: #e3ffff;
            border-radius: 10px;
        }
    </style>
}

    <div class="col-12">
        <div class="my-3 px-3">
            <component type="typeof(Pager)" render-mode="Static" param-areaName="@("analysis/retrospect")" param-pages="@Model.Pages" param-getParametersList="@Model.Filters.GetValuesDict()" />
        </div>
    </div>

    <div class="col-12">
        <div class="my-3 px-3">
            <component type="typeof(RecordsFilters)" render-mode="Static" param-areaName="@("analysis/retrospect")" param-allScopes="@Model.AllScopes" param-selectedThemes="@Model.SelectedThemes" param-pagesInfo="@Model.Pages" param-recordsFilter="@Model.Filters" />
        </div>
    </div>

    <div class="offset-lg-2 col-lg-8 col-md-12">
        <table class="table">
            <tbody>
                <tr>
                    <td colspan="5">
                        <div class="row">
                            @foreach (var rec in Model.Records)
                            {
                                <div class="col-12 p-3 record-group">
                                    <div class="record p-4">

                                        <p>
                                            <b>
                                            <i><a href="~/Records/View?recordId=@rec.Id">@rec.Date.ToString("yyyy.MM.dd")</a></i>
                                            &nbsp;@rec.Name
                                            </b>
                                        </p>
                                        
                                        <p>
                                            @Html.Raw(rec.Text)
                                        </p>

                                        <div class="row">                                            
                                            @foreach (var image in rec.ImagesRefs)
                                            {
                                                <div class="col-lg-2 col-md-4 col-sm-6 p-3">
                                                    <component type="typeof(Thumbnail)" render-mode="Static" param-imageId="image.ImageId" param-imageName="@("")" param-onlyImage="true" />
                                                </div>
                                            }                                               
                                        </div>
                                    </div>
                                                
                                    <div class="row p-3">
                                    @foreach (var cog in rec.Cogitations)
                                    {
                                        <div class="offset-2 col-10 cogitation mt-2">
                                            
                                            <p>
                                                <b>
                                                <i><a href="~/Records/View?recordId=@rec.Id">@cog.Date.ToString("yyyy.MM.dd HH:mm:ss")</a></i>
                                                </b>
                                            </p>
                                            
                                            <p>
                                                @Html.Raw(@cog.Text)
                                            </p>
                                        </div>
                                    }
                                    </div>
                                </div>
                            }                            
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5"><b><i>Записей отфильтровано : @Model.Pages.TotalItems </i></b></td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="col-12">
        <div class="my-3 px-3">
            <component type="typeof(Pager)" render-mode="Static" param-areaName="@("analysis/retrospect")" param-pages="@Model.Pages" param-getParametersList="@Model.Filters.GetValuesDict()" />
        </div>
    </div>

