@page "{handler?}"
@model RiseDiary.WebUI.Pages.RetrospectModel
@{
    ViewData["Title"] = "Ретроспектива";
    ViewData["TitlePart"] = "Ретроспектива";
}

@section Styles
    {
    <style>
        #navigationPanel {
            background-color: #d1fffe;
            text-align: center;
        }

        .date-column {
            width: 170px;
        }

        .record-group {
            margin-bottom: 20px;
            border: 1px solid #b6ff00;
            background-color: #e7ffd7;
            border-radius: 20px;
            padding: 20px 0 20px 0;
            font-size:larger;
        }

        .record {
            border: 1px solid #66FF00;
            background-color: #cefff9;
            border-radius: 20px;
            margin-bottom: 7px;
            padding: 15px;
        }

        .cogitation {
            border: 1px solid #33CCCC;
            background-color: #e3ffff;
            border-radius: 20px;
            margin-bottom: 7px;
            padding: 15px;
        }
    </style>
}

<div class="row">
    <div class="col-sm-12">
        <div class=" panel panel-default">
            <div class="form-horizontal" id="navigationPanel">
                <form method="get">
                    @foreach (var st in Model.SelectedThemes)
                    {
                        <input type="hidden" name="themes" value="@st" />
                    }
                    <input type="hidden" name="fromDate" value="@(Model.Filters.RecordDateFrom?.ToString("yyyy.MM.dd") ?? string.Empty)" />
                    <input type="hidden" name="toDate" value="@(Model.Filters.RecordDateTo?.ToString("yyyy.MM.dd") ?? string.Empty)" />
                    <input type="hidden" name="searchName" value="@Model.Filters.RecordNameFilter" />
                    <input type="hidden" name="currentPage" value="@Model.CurrenPage" />
                    <input type="hidden" name="pagesCount" value="@Model.PagesCount" />
                    <input type="hidden" name="recordsCount" value="@Model.RecordsCount" />

                    <input type="submit" name="navTo" value="@Model.First" class="btn btn-link" />
                    |<input type="submit" name="navTo" value="@Model.Previous" class="btn btn-link" />
                    |<span><b> Страница @(Model.CurrenPage + 1) из @Model.PagesCount </b></span>
                    |<input type="submit" name="navTo" value="@Model.Next" class="btn btn-link" />
                    |<input type="submit" name="navTo" value="@Model.Last" class="btn btn-link" />
                </form>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th style="padding:2px;">
                        <input type="text" class="form-control" style="margin:0px;" placeholder="От" id="filterFromDate" value="@(Model.Filters.RecordDateFrom?.ToString("yyyy.MM.dd") ?? string.Empty)" />
                        <input type="text" class="form-control" placeholder="До" id="filterToDate" value="@(Model.Filters.RecordDateTo?.ToString("yyyy.MM.dd") ?? string.Empty)" />
                    </th>
                    <th style="padding:2px;vertical-align: middle;">
                        <input type="text" class="form-control" placeholder="Фильтр по названию" id="filterName" value="@Model.Filters.RecordNameFilter" />
                    </th>
                    <th colspan="2" style="vertical-align: middle;">
                        <select multiple="multiple" name="themes[]" id="themes" placeholder="Темы" class="form-control themes-select" style="width:350px; height:30px;">
                            @foreach (var scope in Model.AllScopes)
                            {
                                <optgroup label="@scope.ScopeName">
                                    @foreach (var theme in Model.AllThemes.Where(t => t.ScopeId == scope.Id))
                                    {
                                        @if (Model.SelectedThemes.Contains(theme.Id))
                                        {
                                            <option selected="selected" value="@theme.Id">@theme.ThemeName</option>
                                        }
                                        else
                                        {
                                            <option value="@theme.Id">@theme.ThemeName</option>
                                        }
                                    }
                                </optgroup>
                            }
                        </select>
                    </th>
                    <th colspan="2" style="vertical-align: middle;text-align:center">
                        <a class="btn btn-default" id="btnSearch">Применить фильтр</a>
                    </th>
                </tr>
            </thead>
        </table>

        <table class="table" style="table-layout:fixed">
            <tbody>
                <tr>
                    <td colspan="7">
                        <div class="row">
                            @foreach (var recWithCogs in Model.Records)
                            {
                                <div class="col-sm-12 record-group">
                                    <div class="col-sm-10 col-sm-offset-1 record">
                                        <p><b><i><a href="~/Records/Edit?recordId=@recWithCogs.Key.Id">@recWithCogs.Key.Date.ToString("yyyy.MM.dd")</a></i>&nbsp;&nbsp;&nbsp;@recWithCogs.Key.Name</b></p>
                                        <div>
                                            @Html.Raw(@recWithCogs.Key.Text)
                                        </div>
                                    </div>
                                    @foreach (var cog in recWithCogs.Value)
                                    {
                                        <div class="col-sm-9 col-sm-offset-2 cogitation">
                                            <p><b><i><a href="~/Records/View?recordId=@recWithCogs.Key.Id">@cog.Date.ToString("yyyy.MM.dd HH:mm:ss")</a></i></b></p>
                                            <div>
                                                @Html.Raw(@cog.Text)
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7"><b><i>Записей отфильтровано : @Model.RecordsCount </i></b></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        function getThemesUri(themes) {
            if (themes === null) return "";
            let res = "";
            for (let i = 0; i < themes.length; i++) {
                res = res + "&themes=" + themes[i];
            }
            return res;
        }

        $(function () {
            $("#filterFromDate").datepicker({ dateFormat: 'yy.mm.dd' });
            $("#filterToDate").datepicker({ dateFormat: 'yy.mm.dd' });

            $("#btnSearch").on('click', function () {
                window.location.replace(
                    'Retrospect?handler=Search' +
                    '&fromDate=' + encodeURIComponent($("#filterFromDate").val()) +
                    '&toDate=' + encodeURIComponent($("#filterToDate").val()) +
                    getThemesUri($('.themes-select').val()) +
                    '&searchName=' + encodeURIComponent($("#filterName").val()));
            });

            $('.themes-select').SumoSelect({ csvDispCount: 7 });
            $('.SumoSelect').width('350px');
        });

    </script>
}
