@page
@model RiseDiary.WebUI.Pages.Analysis.IndexModel
@{
    ViewData["Title"] = "Поиск записей по фрагменту названия или текста";
    ViewData["TitlePart"] = "Поиск записей по фрагменту названия или текста";

}

@section Styles
    {
    <style>
        #navigationPanel {
            background-color: #d1fffe;
            text-align: center;
        }

        .date-column {
            width: 170px;
        }

        .main-date-column {
            width: 100px;
        }
    </style>
}

<div class="row">
    <div class="col-sm-12">
        <div class=" panel panel-default">
            <div class="form-horizontal" id="navigationPanel">
                <form method="get">
                    <input type="hidden" name="currentPage" value="@Model.CurrenPage" />
                    <input type="hidden" name="pagesCount" value="@Model.PagesCount" />
                    <input type="hidden" name="searchString" value="@Model.SearchString" />
                    <input type="submit" name="navTo" value="Первая" class="btn btn-link" />
                    |<input type="submit" name="navTo" value="Предыдущая" class="btn btn-link" />
                    |<span><b> Страница @(Model.CurrenPage + 1) из @Model.PagesCount </b></span>
                    |<input type="submit" name="navTo" value="Следующая" class="btn btn-link" />
                    |<input type="submit" name="navTo" value="Последняя" class="btn btn-link" />
                </form>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th colspan="6">
                        <form method="get">
                            <div class="form-horizontal row">
                                <div class="form-inline col-md-6 col-md-offset-3">
                                    <input type="text" placeholder="Строка поиска (с учетом регистра)" name="searchString" id="searchString" value="@Model.SearchString" class="form-control" style="width:80%" />
                                    &nbsp;&nbsp;
                                    <input type="submit" value="Поиск" class="btn btn-default" />
                                </div>
                            </div>
                        </form>
                    </th>
                </tr>
            </thead>
        </table>
        <table class="table table-striped" style="table-layout:fixed">
            <tbody>
                @if (Model.Records.Count() == 0)
                {
                    <tr>
                        <td colspan="6"><b>Соответствий нет</b></td>
                    </tr>
                }
                else
                {
                    @foreach (var rec in Model.Records)
                    {
                        <tr>
                            <td class="main-date-column">@rec.Date.ToString("yyyy.MM.dd")</td>
                            <td><a href="~/Records/View?recordId=@rec.Id">@rec.RecordNameDisplay</a></td>
                            <td class="date-column">@rec.CreateDate.ToString("G")</td>
                            <td class="date-column">@rec.ModifyDate.ToString("G")</td>
                            <td style="width:30px"><a href="~/Records/Edit?recordId=@rec.Id"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5"><b><i>Записей отфильтровано : @Model.RecordsCount </i></b></td>
                </tr>
            </tfoot>
        </table>

    </div>
</div>