@page

@model RiseDiary.WebUI.Pages.Analysis.IndexModel

@using RiseDiary.Model
@using RiseDiary.WebUI.Pages.Shared.Components

@{
    ViewData["Title"] = "Поиск записей по фрагменту названия или текста";
}

<div class="col-12">
    <div class="px-3">
        <component type="typeof(Pager)" render-mode="Static" param-areaName="@("analysis/search")" param-pages="@Model.Pages" param-getParametersList="@Model.SearchParams" />
    </div>
</div>

<div class="col-12">
    <div class="px-3">
        <form method="get">
            <div class="row">

                <input type="hidden" name="pageNo" value="1" />

                <div class="offset-lg-2 col-lg-4 col-md-7 col-sm-12 my-2">
                    <input type="text" placeholder="Строка поиска" name="searchString" id="searchString" value="@Model.SearchString" class="form-control" />
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6 my-2 py-2">
                    <input type="checkbox" name="expanded" id="expanded" checked="@Model.Expanded" value="true" />
                    <label for="expanded">Развернуто</label>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-6 my-2">
                    <input type="submit" value="Поиск" class="btn btn-outline-info" />
                </div>

            </div>
        </form>
    </div>
</div>

<component type="typeof(RecordsTable)" render-mode="Static" param-records="@Model.Records" param-totalCount="@Model.Pages.TotalItems" param-expanded="@Model.Expanded" />

<div class="col-12">
    <div class="px-3">
        <component type="typeof(Pager)" render-mode="Static" param-areaName="@("analysis/search")" param-pages="@Model.Pages" param-getParametersList="@Model.SearchParams" />
    </div>
</div>