@page
@model RiseDiary.WebUI.Pages.Analysis.IndexModel
@using RiseDiary.Model
@{
    ViewData["Title"] = "Поиск записей по фрагменту названия или текста";
}

    <div class="col-12">
        <div class="my-3 px-3">
            <component type="typeof(Pager)" render-mode="Static" param-areaName="@("analysis/search")" param-pages="@Model.Pages" param-getParametersList="@Model.SearchParams" />
        </div>
    </div>
    
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <form method="get">
                            <div class="row px-2">

                                <input type="hidden" name="pageNo" value="1" />

                                <div class="offset-lg-2 col-lg-6 col-md-10 mb-2">
                                    <input type="text" placeholder="Строка поиска" name="searchString" id="searchString" value="@Model.SearchString" class="form-control" />
                                </div>

                                <div class="col-lg-2 col-md-2 mb-2">
                                    <input type="submit" value="Поиск" class="btn btn-outline-info" />
                                </div>

                            </div>
                        </form>
                    </th>
                </tr>               
            </thead>
        </table>
        <table class="table table-striped">
            <tbody>
                    @foreach (var rec in Model.Records)
                    {
                        <tr>
                            <td class="main-date-column">@rec.Date.ToString("yyyy.MM.dd")</td>
                            <td><a href="~/Records/View?recordId=@rec.Id">@rec.GetRecordNameDisplay()</a></td>
                            <td class="date-column">@rec.CreateDate.ToString("G")</td>
                            <td class="date-column">@rec.ModifyDate.ToString("G")</td>
                            <td style="width:30px">
                                <a href="~/Records/View?recordId=@rec.Id">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pen" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                                    </svg>
                                </a>
                            </td>
                        </tr>
                    }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5"><b><i>Записей отфильтровано : @Model.Pages.TotalItems </i></b></td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="col-12">
        <div class="my-3 px-3">
            <component type="typeof(Pager)" render-mode="Static" param-areaName="@("analysis/search")" param-pages="@Model.Pages" param-getParametersList="@Model.SearchParams" />
        </div>
    </div>