@page "/dates/nearest"

@using RiseDiary.Shared.Calendar;

@inherits UIComponentBase

@inject NavigationManager NavManager
@inject HttpClient Http

<PageTitle>Ближайшие даты</PageTitle>


<Spinner Loading="Loading">
    <div class="row">

        @if (HasError)
        {
            <p style="color:red">@ErrorMessage</p>
        }

        @if (_datesList != null)
        {
            <DatesSubmenu CurrentPageUriPart="nearest" />

            <div class="col-12">
                <table class="table">
                    <tbody>
                        @foreach (var date in _datesList)
                        {
                            <tr style="@GetRowStyle(date)">
                                <td>
                                    @date.TransferredDate.ToString("yyyy.MM.dd ddd")
                                </td>
                                <td style="color:darkred">
                                    @date.Date.ToString("yyyy.MM.dd")
                                </td>
                                <td>
                                    <NavLink href="@GetRecordLink(date)">@date.Name</NavLink>
                                    <p class="small"><i>@date.Themes</i></p>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>

</Spinner>

@code {
    private List<DateListItemDto>? _datesList;

    private DateOnly Today { get; } = DateOnly.FromDateTime(DateTime.UtcNow);

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        try
        {
            await StartApiRequest();

            _datesList = await Http.GetFromJsonAsync<List<DateListItemDto>>("api/dates/nearest", Token);

            await FinishApiRequest(null);
        }
        catch (Exception exc)
        {
            _datesList = new();
            await FinishApiRequest(exc.Message);
        }
    }

    public string GetRowStyle(DateListItemDto date) => (!string.IsNullOrEmpty(date.Themes), date.TransferredDate == Today) switch
    {
        (true, true) => "background-color:#fbc1c1",
        (true, false) => "background-color:#f5face",
        (false, true) => "background-color:#ffeadc",
        (false, false) => "background-color:#cef5d9"
    };

    public string GetRecordLink(DateListItemDto dto) => NavManager.GetUriWithQueryParameters("records/view", new Dictionary<string, object?>
    {
        ["recordId"] = dto.Id
    });
}
