@page "{handler?}"
@model RiseDiary.WebUI.Pages.RecordEditModel
@{
    ViewData["Title"] = "Редактирование записи";
    ViewData["TitlePart"] = "Редактирование записи";
}

@section Styles{
    <link href="~/lib/summernote/summernote.css" rel="stylesheet" />

    <style>
        #recordDate {
            position: relative;
            z-index: 501;
            width: 50%;
        }
    </style>
}

<form asp-page-handler="SaveRecord" method="post">
    <input type="hidden" name="recordId" id="recordId" value="@Model.RecordId" />
    <table class="table table-condensed">
        <tr>
            <td style="vertical-align:middle"><b>Название записи:</b></td>
            <td colspan="3"><input type="text" class="form-control" id="recordName" name="recordName" value="@Model.RecordName" /></td>
        </tr>
        <tr>
            <td style="vertical-align:middle; width:15%"><b>Дата:</b></td>
            <td style="width:20%">
                <input type="text" name="recordDate" id="recordDate" class="form-control" value="@(Model.RecordDate == null ? string.Empty : Model.RecordDate.Value.ToString("yyyy.MM.dd"))" />
            </td>
            <td style="vertical-align:middle">
                @if (Model.RecordCreateDate != null)
                {
                    <b>Дата создания: <i>@Model.RecordCreateDate.Value.ToString("yyyy.MM.dd HH:mm:ss")</i></b>
                }
            </td>
            <td style="vertical-align:middle">
                @if (Model.RecordModifyDate != null)
                {
                    <b>Дата редактирования: <i>@Model.RecordModifyDate.Value.ToString("yyyy.MM.dd HH:mm:ss")</i></b>
                }
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <textarea id="recordText" name="recordText" rows="20" class="form-control" style="font-size:larger">@Model.RecordText</textarea>
            </td>
        </tr>
        <tr>
            <td>
                <b>Темы записи:</b>
            </td>
            <td colspan="3">
                <div class="form">
                    <h4>
                        Актуальные и выбранные темы
                    </h4>
                    <div class="form-check">
                        @foreach (var theme in Model.ActualOrSelectedThemes)
                        {
                        <div class="custom-control custom-checkbox">
                            <label class="custom-control-label">
                                <input type="checkbox" class="custom-control-input" name="themeId" value="@theme.themeId" @(Model.RecordThemesIds.Contains(theme.themeId) ? "checked=checked" : "") />
                                @theme.scopeName&nbsp;-&nbsp;@theme.themeName
                            </label>
                        </div>
                        }
                        @if (Model.NotActualThemes.Count() > 0)
                        {
                            <button type="button" class="btn btn-default btn-sm" id="showThemesBtn" onclick="showAllThemes()">Показать все темы</button>
                            <div id="notActualThemesBlock" style="display:none">
                                @foreach (var theme in Model.NotActualThemes)
                                {
                                <div class="custom-control custom-checkbox">
                                    <label class="custom-control-label">
                                        <input type="checkbox" class="custom-control-input" name="themeId" value="@theme.themeId" @(Model.RecordThemesIds.Contains(theme.themeId) ? "checked=checked" : "") />
                                        @theme.scopeName&nbsp;-&nbsp;@theme.themeName
                                    </label>
                                </div>
                                }
                            </div>
                        }
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="btn btn-success form-control" onclick="return saveClick();">Сохранить запись</button>
            </td>
            <td colspan="3">
                @if (Model.RecordId != null)
                {
                    <a href="~/Records/View?recordId=@Model.RecordId" class="btn btn-default">Открыть на просмотр</a>
                }
            </td>
        </tr>
    </table>
</form>

@if (Model.RecordId != null)
{
    <form asp-page-handler="DeleteRecord" method="post">
        <table class="table">
            <tr>
                <td>
                    <input type="hidden" name="recordId" value="@Model.RecordId" />
                    <button type="submit" class="btn btn-danger form-control" style="width:155px"
                            onclick="return deleteClick();">
                        Удалить запись
                    </button>
                </td>
            </tr>
        </table>
    </form>
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/lib/summernote/summernote.js"></script>

    <script type="text/javascript">

        var isDataChanged = false;

        function onChangeData() {
            if (!isDataChanged) {
                isDataChanged = true;
                window.onbeforeunload = function () {
                    return 'Are you sure you want to leave?';
                };
            }
        }

        function saveClick() {
            if (isDataChanged) {
                window.onbeforeunload = null;
                return true;
            }        
        }

        function deleteClick() {
            if (confirm('Удалить запись?')) {
                if (isDataChanged) window.onbeforeunload = null;
                return true;
            }
            else {
                return false;
            }
        }

        $(function () {
            $("#recordDate").datepicker({ dateFormat: 'yy.mm.dd' });
            $('#recordText').summernote({
                height: 400,
                focus: true,
                callbacks: {
                    onChange: onChangeData
                }
            });

            $("#recordDate").change(onChangeData);
            $('#recordText').change(onChangeData);
            $("#recordName").change(onChangeData);
            $("[name='themeId']").change(onChangeData);

        });

        function showAllThemes() {
            $('#showThemesBtn').hide();
            $('#notActualThemesBlock').show();
            return false;
        }
    </script>
}
