@page

@model RiseDiary.WebUI.Pages.RecordsViewModel

@using RiseDiary.WebUI.Pages.Shared.Components
@using RiseDiary.Model

@{
    ViewData["Title"] = "Поиск записей";
}

<div class="col-12">
    <div class="my-3 px-3">
        <component type="typeof(Pager)" render-mode="Static" param-areaName="@("records")" param-pages="@Model.Pages" param-getParametersList="@Model.GetParams()" />
    </div>
</div>

<div class="col-12">
    <div class="my-3 px-3">
        <component type="typeof(RecordsFilters)" render-mode="Static" param-expanded="@Model.Expanded" param-areaName="@("records")" param-allScopes="@Model.AllScopes" param-selectedThemes="@Model.SelectedThemes" param-pagesInfo="@Model.Pages" param-recordsFilter="@Model.Filters" />
    </div>
</div>

 <component type="typeof(RecordsTable)" render-mode="Static" param-records="@Model.Records" param-totalCount="@Model.Pages.TotalItems" param-expanded="@Model.Expanded" />

<div class="col-12">
    <div class="my-3 px-3">
        <component type="typeof(Pager)" render-mode="Static" param-areaName="@("records")" param-pages="@Model.Pages" param-getParametersList="@Model.GetParams()" />
    </div>
</div>