@page
@model RiseDiary.WebUI.Pages.RecordsViewModel
@using RiseDiary.Model
@{
    ViewData["Title"] = "Поиск записей";
}

<div class="col-12">
    <div class="my-3 px-3">
        <component type="typeof(Pager)" render-mode="Static" param-areaName="@("records")" param-pages="@Model.Pages" param-getParametersList="@Model.GetParams()" />
    </div>
</div>

<div class="col-12">
    <div class="my-3 px-3">
        <component type="typeof(RecordsFilters)" render-mode="Static" param-expanded="@Model.Expanded" param-areaName="@("records")" param-allScopes="@Model.AllScopes" param-selectedThemes="@Model.SelectedThemes" param-pagesInfo="@Model.Pages" param-recordsFilter="@Model.Filters" />
    </div>
</div>

@if (Model.Expanded)
{
    <div class="offset-lg-2 col-lg-8 col-md-12">
        <table class="table">
            <tbody>
                <tr>
                    <td colspan="5">
                        <div class="row">
                            @foreach (var rec in Model.Records)
                            {
                                <div class="col-12 p-1">
                                    <hr />
                                    <div class="px-2">

                                        <p>
                                            <b>
                                                <i><a href="~/Records/View?recordId=@rec.Id">@rec.Date.ToString("yyyy.MM.dd")</a></i>
                                                &nbsp;@rec.Name
                                            </b>
                                        </p>

                                        <p>
                                            @Html.Raw(rec.Text)
                                        </p>

                                        <div class="row">
                                            @foreach (var image in rec.ImagesRefs)
                                            {
                                                <div class="col-lg-2 col-md-4 col-sm-6 p-3">
                                                    <component type="typeof(Thumbnail)" render-mode="Static" param-image="image.Image" param-onlyImage="true" />
                                                </div>
                                            }
                                        </div>
                                    </div>

                                    @if (rec.Cogitations.Any())
                                    {
                                        <div class="row p-3">
                                            @foreach (var cog in rec.Cogitations)
                                            {
                                                <div class="offset-2 col-10 mt-2">

                                                    <p>
                                                        <b>
                                                            <i>
                                                                <a href="~/Records/View?recordId=@rec.Id">
                                                                    <script type="text/javascript">document.write(convertToLocalDate('@cog.Date.ToString("yyyy.MM.dd HH:mm:ss")'))</script>
                                                                </a>
                                                            </i>
                                                        </b>
                                                    </p>

                                                    <p>
                                                        @Html.Raw(@cog.Text)
                                                    </p>
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5"><b><i>Записей отфильтровано : @Model.Pages.TotalItems </i></b></td>
                </tr>
            </tfoot>
        </table>
    </div>
}
else
{
    <div class="col-12">
        <table class="table table-striped">
            <tbody>
                @foreach (var rec in Model.Records)
                {
                    <tr>
                        <td class="main-date-column">@rec.Date.ToString("yyyy.MM.dd")</td>
                        <td><a href="~/Records/View?recordId=@rec.Id">@rec.GetRecordNameDisplay()</a></td>
                        <td class="date-column"><script type="text/javascript">document.write(convertToLocalDate('@rec.CreateDate.ToString("yyyy.MM.dd HH:mm:ss")'))</script></td>
                        <td class="date-column"><script type="text/javascript">document.write(convertToLocalDate('@rec.ModifyDate.ToString("yyyy.MM.dd HH:mm:ss")'))</script></td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5"><b><i>Записей отфильтровано : @Model.Pages.TotalItems </i></b></td>
                </tr>
            </tfoot>
        </table>
    </div>
}

<div class="col-12">
    <div class="my-3 px-3">
        <component type="typeof(Pager)" render-mode="Static" param-areaName="@("records")" param-pages="@Model.Pages" param-getParametersList="@Model.GetParams()" />
    </div>
</div>