@page
@model RiseDiary.WebUI.Pages.RecordsViewModel
@using RiseDiary.Model
@{
    ViewData["Title"] = "Поиск записей";
}

    <div class="col-12">
        <div class="my-3 px-3">
            <component type="typeof(Pager)" render-mode="Static" param-areaName="@("records")" param-pages="@Model.Pages" param-getParametersList="@Model.Filters.GetValuesList()" />
        </div>
    </div>
    
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <component type="typeof(RecordsFilters)" render-mode="Static" param-areaName="@("records")" param-allScopes="@Model.AllScopes" param-selectedThemes="@Model.SelectedThemes" param-pagesInfo="@Model.Pages" param-recordsFilter="@Model.Filters" />
                    </th>
                </tr>               
            </thead>
        </table>
        <table class="table table-striped">
            <tbody>
                @foreach (var rec in Model.Records)
                {
                    <tr>
                        <td class="main-date-column">@rec.Date.ToString("yyyy.MM.dd")</td>
                        <td><a href="~/Records/View?recordId=@rec.Id">@rec.GetRecordNameDisplay()</a></td>
                        <td class="date-column">@rec.CreateDate.ToString("G")</td>
                        <td class="date-column">@rec.ModifyDate.ToString("G")</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5"><b><i>Записей отфильтровано : @Model.Pages.TotalItems </i></b></td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="col-12">
        <div class="my-3 px-3">
            <component type="typeof(Pager)" render-mode="Static" param-areaName="@("records")" param-pages="@Model.Pages" param-getParametersList="@Model.Filters.GetValuesList()" />
        </div>
    </div>