@page "{handler?}"
@model RiseDiary.WebUI.Pages.RecordViewModel
@{
    ViewData["Title"] = "Просмотр записи";
    ViewData["TitlePart"] = Model.Record.Date.ToString("yyyy.MM.dd") + " (" + Model.Record.Name + ")";
}

<input type="hidden" name="recordId" id="recordId" value="@Model.RecordId" />
<table class="table table-striped">
    <tr>
        <td style="vertical-align:middle"><b>Название записи:</b></td>
        <td colspan="3"><b><i>@Model.Record.RecordNameDisplay</i></b></td>
    </tr>
    <tr>
        <td style="vertical-align:middle; width:15%"><b>Дата:</b></td>
        <td style="width:20%">
            <b><i>@Model.Record.Date.ToString("yyyy.MM.dd")</i></b>
        </td>
        <td style="vertical-align:middle">
            <b>Дата создания: <i>@Model.Record.CreateDate.ToString("yyyy.MM.dd HH:mm:ss")</i></b>
        </td>
        <td style="vertical-align:middle">
            <b>Дата редактирования: <i>@Model.Record.ModifyDate.ToString("yyyy.MM.dd HH:mm:ss")</i></b>
        </td>
    </tr>
    <tr>
        <td><b>Темы:</b></td>
        <td colspan="3">
            @if (Model.RecordThemes.Count > 0)
            {
                foreach (string themeName in Model.RecordThemes)
                {
                    <p>@themeName</p>
                }
            }
            else
            {
                <i>[НЕТ]</i>
            }
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <textarea id="recordText" readonly="readonly" name="recordText" rows="20" class="form-control" style="font-size:larger; background-color:aliceblue">@Model.Record.Text</textarea>
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <a href="~/Records/Edit?recordId=@Model.RecordId" class="btn btn-info">Редактировать запись</a>
        </td>
    </tr>
    @foreach (var image in Model.RecordImages)
    {
        <tr>
            <td>
                <a href="/Images/Edit?recordId=@Model.RecordId&imageId=@image.Id">@image.Name</a>
                <br />
                <br />
                <form method="post" asp-page-handler="DeleteImage">
                    <input type="hidden" name="imageId" value="@image.Id" />
                    <input type="hidden" name="recordId" value="@Model.RecordId" />
                    <input type="submit" class="btn btn-default btn-sm" value="Открепить" />
                </form>
            </td>
            <td colspan="3"><img src="data:image;base64,@image.ImageBase64" class="img-thumbnail" alt="Изображение" style="max-height:600px;" /></td>
        </tr>
    }
    <tr>
        <td colspan="3">
            <form asp-page-handler="AddImage">
                <input type="hidden" name="recordId" value="@Model.RecordId" />
                <div class="form-inline">
                    <input type="text" id="imagesFilter" class="form-control" placeholder="Поиск по названию" style="width:170px;" />
                    <select name="imageId" id="imageId" class="form-control" style="width:350px;"></select>
                    <button type="submit" class="btn btn btn-default form-control">Добавить изображение</button>
                </div>
            </form>
        </td>
        <td colspan="1">
            <a href="/images/upload?targetRecordId=@Model.RecordId" class="btn btn-info" style="float:right">Загрузить и добавить изображение</a>
        </td>
    </tr>
    <tr style="background-color:#8484fa">
        <td colspan="4"><b>Мысли по поводу записи:</b></td>
    </tr>
    @foreach (var cog in Model.Cogitations)
    {
        <tr style="background-color:#bdbdfb">
            <td colspan="4">
                <p><b>@cog.Date.ToString("yyyy.MM.dd HH:mm:ss")</b></p>
                <form asp-page-handler="SaveCogitation" method="post">
                    <input type="hidden" name="cogitationId" value="@cog.Id" />
                    <input type="hidden" name="recordId" value="@cog.RecordId" />
                    <textarea id="recordText" name="recordText" rows="7" class="form-control" style="font-size:larger; background-color:aliceblue">@cog.Text</textarea>
                    <br />
                    <p style="float:left">
                        <button type="submit" class="btn btn-success"
                                onclick="if (confirm('Сохранить изменения?')) { return true; } else { return false }">
                            Сохранить
                        </button>
                    </p>
                </form>
                <form asp-page-handler="DeleteCogitation" method="post">
                    <p style="float:right">
                        <input type="hidden" name="cogitationId" value="@cog.Id" />
                        <input type="hidden" name="recordId" value="@cog.RecordId" />
                        <button type="submit" class="btn btn-danger"
                                onclick="if (confirm('Удалить?')) { return true; } else { return false }">
                            Удалить
                        </button>
                    </p>
                </form>
            </td>
        </tr>
    }
    <tr style="background-color:#8ec6fa">
        <td colspan="4">
            <form asp-page-handler="AddCogitation" method="post">
                <input type="hidden" name="recordId" value="@Model.RecordId" />
                <textarea id="recordText" name="cogText" rows="7" class="form-control" style="font-size:larger;"></textarea>
                <br />
                <button type="submit" class="btn btn-success">Добавить</button>
            </form>
        </td>
    </tr>
</table>

@section Scripts {

    <script type="text/javascript">

        function updateSelectedList(recordId, inputStr) {
            let uri = "/Images/ImagesListFiltered/" + recordId + "/"+ inputStr;
            let selectElement = $("#imageId");
            $.getJSON(uri)
                .done(function (data) {                    
                    $(selectElement).empty();
                    $.each(data,
                        function (key, value) {
                            $(selectElement).append($("<option></option>")
                                .attr("value", value.id)
                                .text(value.name));
                        });
                });
        }

        $("#imagesFilter").on('keyup',
            function (e) {                
                updateSelectedList($("#recordId").val(), $(this).val());
            });

        updateSelectedList($("#recordId").val(), '');
    </script>
}
