@page "{handler?}"
@model RiseDiary.WebUI.Pages.Images.EditModel
@using RiseDiary.Model 

@{
    ViewData["Title"] = Model.Image.Name;
}

    <div class="col-12">
        <div class="row">
            <div class="col-7 pt-1">
                <component type="typeof(ImageName)" render-mode="ServerPrerendered" param-ImageId="@Model.Image.Id" param-CurrentImageName="@Model.Image.Name" />
            </div>

            <div class="col-3">
                <div class="pt-2">
                    <i>@Model.Image.Width / @Model.Image.Height (@Model.Image.GetSizeKbString())</i>
                </div>
            </div>

            <div class="col-2">
                <div style="float:right;">
                    @if (Model.RecordId == null || Model.RecordId.Value == Guid.Empty)
                    {
                        <a href="/images/index" class="btn btn-close pt-3" title="Закрыть"></a>
                    }
                    else
                    {
                        <a href="/records/view?recordId=@Model.RecordId.Value.ToString()" class="btn btn-link" title="Венуться к записи">
                            <img src="img/arrow-left-square.svg" width="20" height="20" alt="Венуться к записи" />
                        </a>
                    }
                </div>
            </div>

            @if (Model.Image.TempImage == null)
                {
                <div class="col-12">
                        <div class="pagination mt-2 mb-3">
                            <div class="me-2">
                                <form asp-page-handler="ReplaceImage" id="uploadNewImageForm" method="post" enctype="multipart/form-data">

                                    <input type="hidden" name="recordId" value="@Model.RecordId" />
                                    <input type="hidden" name="imageId" value="@Model.Image.Id" />
                                    <input type="file" accept="image/*" id="newImage" name="newImage" style="display:none" onchange="newImageSelect()" />
                                   
                                    <button type="button" class="btn" title="Заменить изображение другим" onclick="document.getElementById('newImage').click();">
                                        <img src="img/arrow-repeat.svg" width="20" height="20" alt="Заменить изображение другим" />
                                    </button>
                                </form>
                            </div>

                            <div class="mx-2">
                                <form method="post" asp-page-handler="ScaleImage">

                                    <input type="hidden" name="recordId" value="@Model.RecordId" />
                                    <input type="hidden" name="imageId" value="@Model.Image.Id" />
                                    <input type="hidden" name="imageSize" id="imageSize" value="@Model.Image.GetBiggestImageDimm()" />

                                    <button type="submit" class="btn" onclick="return scaleImageClick();" title="Сжать изображения таким образом, чтобы большая сторона равнялась введенному значению">
                                        <img src="img/aspect-ratio.svg" width="20" height="20" alt="Сжать изображения таким образом, чтобы большая сторона равнялась введенному значению" />
                                    </button>
                                </form>
                            </div>

                            <div class="mx-2">
                                <a asp-page="CropImageSelect" asp-route-imageId="@Model.Image.Id" asp-route-recordId="@Model.RecordId" class="btn" title="Выбрать область изображения и обрезать все лишнее">
                                    <img src="img/scissors.svg" width="20" height="20" alt="Выбрать область изображения и обрезать все лишнее" />
                                </a>
                            </div>

                            <div class="mx-2">
                                <form asp-page-handler="RotateImage" method="post">

                                    <input type="hidden" name="imageId" value="@Model.Image.Id" />
                                    <input type="hidden" name="recordId" value="@Model.RecordId" />
                                    <input type="hidden" name="direction" value="left" />

                                    <button type="submit" class="btn" title="Повернуть влево" onclick="return confirm('Повернуть изображение влево?');">                                        
                                        <img src="img/arrow-counterclockwise.svg" width="20" height="20" alt="Повернуть влево" />
                                    </button>
                                </form>
                            </div>

                            <div class="mx-2">
                                <form asp-page-handler="RotateImage" method="post">

                                    <input type="hidden" name="imageId" value="@Model.Image.Id" />
                                    <input type="hidden" name="recordId" value="@Model.RecordId" />
                                    <input type="hidden" name="direction" value="right" />

                                    <button type="submit" class="btn" title="Повернуть вправо" onclick="return confirm('Повернуть изображение вправо?');">
                                        <img src="img/arrow-clockwise.svg" width="20" height="20" alt="Повернуть вправо" />
                                    </button>
                                </form>
                            </div>

                            <div class="mx-2">
                                <form asp-page-handler="DeleteImage" method="post">

                                    <input type="hidden" name="imageId" value="@Model.Image.Id" />
                                    <input type="hidden" name="recordId" value="@Model.RecordId" />

                                    <button type="submit" class="btn btn-link" title="Удалить изображение" onclick="return confirm('Удалить изображение?');">
                                         <img src="img/trash.svg" width="20" height="20" alt="Удалить" />
                                    </button>
                                </form>
                            </div>                            
                        </div>
                </div>
            }
            else
            {
                <div class="col-7">
                    Редактирование: <b style="color:brown">@Model.Image.TempImage.Modification</b>
                </div>

                <div class="col-3">
                    <i>@Model.Image.TempImage.Width / @Model.Image.TempImage.Height (@Model.Image.TempImage.GetSizeKbString())</i>
                </div>

                <div class="col-12 m-2">
                    <div class="pagination">
                        <form method="post">
                            <input type="hidden" name="recordId" value="@Model.RecordId" />
                            <input type="hidden" name="imageId" value="@Model.Image.Id" />

                             <button type="submit" asp-page-handler="SaveUpdatedImage" class="btn me-1" title="Сохранить изменения">
                                  <img src="img/clipboard-check.svg" width="20" height="20" alt="Сохранить изменения" />
                             </button>

                             <button type="submit" asp-page-handler="SaveUpdatedAsNewImage" class="btn mx-1" title="Сохранить как новое изображение">
                                  <img src="img/front.svg" width="20" height="20" alt="Сохранить как новое" />
                             </button>

                             <button type="submit" asp-page-handler="CancelEdit" class="btn mx-1" title="Отменить изменения">
                                 <img src="img/clipboard-x.svg" width="20" height="20" alt="Отменить изменения" />
                             </button>
                        </form>
                    </div>
                </div>            
            }
        </div>        
    </div>

    <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 col-sm-12 text-center mb-3">
        <img id="img" name="img" src="/api/v1.0/image-file/@Model.Image.Id" class="img-fluid" />
    </div>

    <div class="col-lg-6 col-md-12">
        <ul class="list-group">
            <li class="list-group-item">
                <b>URL:</b> <i>@Model.ImageUrl</i>
            </li>

            <li class="list-group-item">
                 @if (Model.ImageLinks != null && (Model.ImageLinks?.Count ?? 0) > 0)
                {
                    <b>Прикреплено к:</b>
                    foreach (var lnk in Model.ImageLinks ?? new Dictionary<Guid, string>())
                    {
                        @:|&nbsp;
                        <a href="/Records/View?recordId=@lnk.Key">@lnk.Value</a>
                    }
                    @:&nbsp;|
                }
                else
                {
                    <b>Не прикреплено</b>
                }
            </li>

            <li class="list-group-item">
                <i><b>Камера:</b> @(string.IsNullOrEmpty(Model.Image.CameraModel) ? "[НЕТ]" : Model.Image.CameraModel)</i>
            </li>
        </ul>
    </div>

    <div class="col-lg-6 col-md-12">
        <ul class="list-group">
            <li class="list-group-item">
                <i><b>Создано: </b>@Model.Image.CreateDate.ToString("yyyy.MM.dd HH:mm:ss")</i>
            </li>

            <li class="list-group-item">
                <i><b>Изменено: </b>@Model.Image.ModifyDate.ToString("yyyy.MM.dd HH:mm:ss")</i>
            </li>

            <li class="list-group-item">
                <i><b>Дата съемки: </b>@(Model.Image.Taken?.ToString("yyyy.MM.dd HH:mm:ss") ?? "[НЕТ]")</i>
            </li>
        </ul>
    </div>    


@section Scripts{
    <script type="text/javascript">

        function scaleImageClick() {

            let size = document.getElementById("imageSize").value;
            let input = prompt("Введите новый размер большей стороны картинки для сжатия", size);

            if (input === null) return false;

            let inputInt = parseInt(input);

            if (isNaN(inputInt) || inputInt <= 0 || inputInt > size) {
                alert("'" + input + "' - некорректное значение");
                return false;
            }

            document.getElementById("imageSize").value = inputInt;
            return true;
        }

        function newImageSelect() {
            document.getElementById("uploadNewImageForm").submit();
        }

    </script>
}