@page "{handler?}"
@model RiseDiary.WebUI.Pages.Images.EditModel
@{
    ViewData["Title"] = Model.Image.Name;
    ViewData["TitlePart"] = Model.Image.Name;
}

<div class="row">
    <div class="col-sm-10 col-sm-offset-1" style="padding-left:15px;padding-right:15px;">
        <table class="table">
            <thead>
                <tr>
                    <th style="width:25%">Название изображения</th>
                    <th>Ширина</th>
                    <th>Высота</th>
                    <th>Размер</th>
                    <th>
                        <div style="float:right;margin-right:10px;">
                            @if (Model.RecordId == 0)
                            {
                                <a href="/images/index" class="btn btn-default btn-sm" style="float:right">Закрыть</a>
                            }
                            else
                            {
                                <a href="/records/view?recordId=@Model.RecordId" class="btn btn-default btn-sm" style="float:right">Венуться к записи</a>
                            }
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr style="background-color:#cdff82">
                    <td>
                        <div id="view-form">
                            <span style="float:left;padding:5px;">@Model.Image.Name</span>
                            &nbsp;
                            <button type="button" class="btn btn-link show-edit-form">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </button>
                        </div>
                        <div id="edit-form" style="visibility:collapse">
                            <form method="post">
                                <div class="form form-horizontal">
                                    <div class="input-group">
                                        <input type="hidden" name="imageId" value="@Model.Image.Id" />
                                        <input type="text" name="imageName" class="form-control" value="@Model.Image.Name" />
                                        <span class="input-group-btn">
                                            <input type="submit" class="btn btn-success" value="Обновить" asp-page-handler="UpdateImageName" />
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>                        
                    </td>
                    <td>@Model.Image.Width&nbsp;px;</td>
                    <td>@Model.Image.Height&nbsp;px;</td>
                    <td>@Model.Image.SizeKbString</td>
                    <td><i>@Model.Image.CreateDate.ToString("yyyy.MM.dd HH:mm:ss")&nbsp;&nbsp;|&nbsp;&nbsp;@Model.Image.ModifyDate.ToString("yyyy.MM.dd HH:mm:ss")</i></td>
                </tr>
                @if (Model.TempImage != null)
                {
                    <tr style="background-color:#fcb17c">
                        <td><b style="color:brown">@Model.TempImage.Modification</b></td>
                        <td>@Model.TempImage.Width&nbsp;px;</td>
                        <td>@Model.TempImage.Height&nbsp;px;</td>
                        <td>@Model.TempImage.SizeKbString</td>
                        <td>
                            <div class="form-inline" style="float:right;">
                                <form method="post">
                                    <input type="hidden" name="recordId" value="@Model.RecordId" />
                                    <input type="hidden" name="imageId" value="@Model.ImageId" />
                                    <input type="submit" asp-page-handler="SaveUpdatedImage" class="btn btn-warning btn-sm" value="Сохранить изменения" />
                                    <input type="submit" asp-page-handler="SaveUpdatedAsNewImage" class="btn btn-success btn-sm" value="Сохранить как новое" />
                                    <input type="submit" asp-page-handler="CancelEdit" class="btn btn-success btn-sm" value="Отменить изменения" />
                                </form>
                            </div>
                        </td>
                    </tr>
                }
                else
                {
                    <tr style="background-color:#ffef89">
                        <td colspan="5">
                            <div class="panel" style="margin:3px;padding:5px;background-color:#f3d1d1;width:300px;float:left; ">
                                <form asp-page-handler="ReplaceImage" method="post" enctype="multipart/form-data">
                                    <div class="form-inline">
                                        <div class="form-group-sm">
                                            <input type="hidden" name="recordId" value="@Model.RecordId" />
                                            <input type="hidden" name="imageId" value="@Model.ImageId" />
                                            <input type="file" accept="image/*" id="newImage" name="newImage" class="form-control" style="padding:0px;border:none;width:200px;" />
                                            <input type="submit" value="Заменить" title="Заменить изображение другим" class="btn btn-sm btn-info" style="width:80px;" />
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="panel" style="margin:3px;padding:5px;background-color:#f3d1d1;width:300px;float:left; ">
                                <form method="post" asp-page-handler="ScaleImage">
                                    <div class="form-inline">
                                        <div class="form-group-sm">
                                            <input type="hidden" name="recordId" value="@Model.RecordId" />
                                            <input type="hidden" name="imageId" value="@Model.ImageId" />
                                            <input type="number" style="width:200px;" class="form-control" name="imageSize" id="imageSize" max="@Model.BiggestImageDimm" value="@Model.BiggestImageDimm" />
                                            <input type="submit" class="btn btn-info btn-sm" style="width:80px;" value="Сжать" title="Сжать изображения таким образом, чтобы большая сторона равнялась введенному значению" />
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="panel" style="margin:3px;padding:5px;background-color:#f3d1d1;width:90px;float:left; ">
                                <a asp-page="CropImageSelect" asp-route-imageId="@Model.ImageId" asp-route-recordId="@Model.RecordId" class="btn btn-info btn-sm" style="width:80px;" title="Выбрать область изображения и обрезать все лишнее">Обрезать</a>
                            </div>

                            <div class="panel" style="margin:3px;padding:5px;background-color:#ff6a00;width:90px;float:left; ">
                                <form asp-page-handler="DeleteImage" method="post">
                                    <input type="hidden" name="imageId" value="@Model.ImageId" />
                                    <input type="hidden" name="recordId" value="@Model.RecordId" />
                                    <button type="submit" class="btn btn-sm btn-danger" style="width:80px;"
                                            title="Удалить изображение"
                                            onclick="return confirm('Удалить изображение?');">
                                        Удалить
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    <tr style="background-color:#ffef89">
                        <td colspan="5">
                            <div style="padding:5px;margin:3px">
                                <b>URL</b> <i>@Model.ImageUrl</i> <b>прикреплено к:</b>&nbsp;&nbsp;
                                @if (Model.ImageLinks.Count > 0)
                                {
                                    foreach (var lnk in Model.ImageLinks)
                                    {
                                        @:|&nbsp;
                                        <a href="/Records/View?recordId=@lnk.Key">@lnk.Value</a>
                                    }
                                    @:&nbsp;|
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>    
    <div class="col-sm-12">
            <img id="img" name="img" src="/Images/imagefile/@Model.Image.Id" class="thumbnail center-block" style="max-height:600px;max-width:1000px;" />
   </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on('click', '.show-edit-form', function () {
                let vid = $("#view-form");
                let eid = $("#edit-form");
                eid.removeAttr('style'); // у инлайновых стилей приоритет выше. JQuery show() не сработает
                vid.hide();
            });
        });
    </script>
}