@page "{handler?}"
@model RiseDiary.WebUI.Pages.Images.EditModel
@using RiseDiary.Model 

@{
    ViewData["Title"] = Model.Image.Name;
    ViewData["TitlePart"] = Model.Image.Name;
}

@section Styles
    {
    <style>
        form {
            display: inline;
        }
    </style>
}

<div class="row">
    <div class="col-sm-12" style="padding-left:15px;padding-right:15px;">
        <table class="table">
            <thead>
                <tr>
                    <th>Название изображения</th>
                    <th>Ширина</th>
                    <th>Высота</th>
                    <th>Размер</th>
                    <th>
                        <div style="float:right;">
                            @if (Model.RecordId == null || Model.RecordId.Value == Guid.Empty)
                            {
                                <a href="/images/index" class="btn btn-default" style="float:right" title="Закрыть">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </a>
                            }
                            else
                            {
                                <a href="/records/view?recordId=@Model.RecordId.Value.ToString()" class="btn btn-default" style="float:right" title="Венуться к записи">
                                    <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                                </a>
                            }
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr style="background-color:#cdff82">
                    <td>
                        <component type="typeof(ImageNameComponent)" render-mode="ServerPrerendered" param-ImageId="@Model.Image.Id" param-ImageName="@Model.Image.Name" />
                    </td>
                    <td>@Model.Image.Width&nbsp;px;</td>
                    <td>@Model.Image.Height&nbsp;px;</td>
                    <td>@Model.Image.GetSizeKbString()</td>
                    <td>
                        @if (Model.Image.TempImage == null)
                        {
                            <div style="white-space: nowrap;float:right">
                                <form asp-page-handler="ReplaceImage" id="uploadNewImageForm" method="post" enctype="multipart/form-data">
                                    <input type="hidden" name="recordId" value="@Model.RecordId" />
                                    <input type="hidden" name="imageId" value="@Model.Image.Id" />
                                    <input type="file" accept="image/*" id="newImage" name="newImage" style="display:none" onchange="newImageSelect()" />
                                    <button type="button" class="btn btn-info" title="Заменить изображение другим" onclick="document.getElementById('newImage').click();">
                                        <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
                                    </button>
                                </form>

                                <form method="post" asp-page-handler="ScaleImage">
                                    <input type="hidden" name="recordId" value="@Model.RecordId" />
                                    <input type="hidden" name="imageId" value="@Model.Image.Id" />
                                    <input type="hidden" id="maxImageSize" value="@Model.Image.GetBiggestImageDimm()" />
                                    <input type="hidden" name="imageSize" id="imageSize" value="@Model.Image.GetBiggestImageDimm()" />
                                    <button type="submit" class="btn btn-info" onclick="return scaleImageClick();" title="Сжать изображения таким образом, чтобы большая сторона равнялась введенному значению">
                                        <span class="glyphicon glyphicon-resize-small" aria-hidden="true"></span>
                                    </button>
                                </form>

                                <a asp-page="CropImageSelect" asp-route-imageId="@Model.Image.Id" asp-route-recordId="@Model.RecordId" class="btn btn-info" title="Выбрать область изображения и обрезать все лишнее">
                                    <span class="glyphicon glyphicon-scissors" aria-hidden="true"></span>
                                </a>

                                <form asp-page-handler="DeleteImage" method="post">
                                    <input type="hidden" name="imageId" value="@Model.Image.Id" />
                                    <input type="hidden" name="recordId" value="@Model.RecordId" />
                                    <button type="submit" class="btn btn-danger" title="Удалить изображение" onclick="return confirm('Удалить изображение?');">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </button>
                                </form>
                            </div>
                        }
                    </td>
                </tr>
                @if (Model.Image.TempImage != null)
                {
                    <tr style="background-color:#fcb17c">
                        <td><b style="color:brown">@Model.Image.TempImage.Modification</b></td>
                        <td>@Model.Image.TempImage.Width&nbsp;px;</td>
                        <td>@Model.Image.TempImage.Height&nbsp;px;</td>
                        <td>@Model.Image.TempImage.GetSizeKbString()</td>
                        <td>
                            <div class="form-inline" style="float:right;">
                                <form method="post">
                                    <input type="hidden" name="recordId" value="@Model.RecordId" />
                                    <input type="hidden" name="imageId" value="@Model.Image.Id" />
                                    <div style="white-space: nowrap;">
                                        <button type="submit" asp-page-handler="SaveUpdatedImage" class="btn btn-warning" title="Сохранить изменения">
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                        </button>
                                        <button type="submit" asp-page-handler="SaveUpdatedAsNewImage" class="btn btn-success" title="Сохранить как новое">
                                            <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
                                        </button>
                                        <button type="submit" asp-page-handler="CancelEdit" class="btn btn-success" title="Отменить изменения">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-sm-12">
        <img id="img" name="img" src="/api/v1.0/image-file/@Model.Image.Id" class="thumbnail center-block" style="max-height:600px;max-width:1000px;" />
    </div>

    <hr class="col-sm-12" />

    <table class="col-sm-12">
        <tr>
            <td>
                <div>
                    <b>URL:</b> <i>@Model.ImageUrl</i>
                </div>
            </td>
            <td style="text-align:right">
                <i><b>Создано: </b>@Model.Image.CreateDate.ToString("yyyy.MM.dd HH:mm:ss")</i>
            </td>
        </tr>
        <tr>
            <td>
                @if (Model.ImageLinks != null && (Model.ImageLinks?.Count ?? 0) > 0)
                {
                    <b>Прикреплено к:</b>
                    foreach (var lnk in Model.ImageLinks ?? new Dictionary<Guid, string>())
                    {
                        @:|&nbsp;
                        <a href="/Records/View?recordId=@lnk.Key">@lnk.Value</a>
                    }
                    @:&nbsp;|
                }
            </td>
            <td style="text-align:right">
                <i><b>Изменено: </b>@Model.Image.ModifyDate.ToString("yyyy.MM.dd HH:mm:ss")</i>
            </td>
        </tr>
        <tr>
            <td><i><b>Камера:</b> @(string.IsNullOrEmpty(Model.Image.CameraModel) ? "[НЕТ]" : Model.Image.CameraModel)</i></td>
            <td style="text-align:right"><i><b>Дата съемки: </b>@(Model.Image.Taken?.ToString("yyyy.MM.dd HH:mm:ss") ?? "[НЕТ]")</i></td>
        </tr>
    </table>
</div>

@section Scripts{
    <script type="text/javascript">

        function scaleImageClick() {

            let size = $("#maxImageSize").val();
            let input = prompt("Введите новый размер большей стороны картинки для сжатия", size);

            if (input === null) return false;

            let inputInt = parseInt(input);

            if (isNaN(inputInt) || inputInt <= 0 || inputInt > size) {
                alert("'" + input + "' - некорректное значение");
                return false;
            }

            $("#imageSize").val(inputInt);
            return true;
        }

        function newImageSelect() {
            $('#uploadNewImageForm').submit();
        }

    </script>
}