@page "{pageNo?}"
@model RiseDiary.WebUI.Pages.Images.IndexModel

@{
    ViewData["Title"] = "Фотографии и рисунки";
}

    <div class="col-12">
        <div class="my-3 px-3">
            <a class="btn btn-outline-primary" href="/Images/Upload">Загрузить</a>
            <component type="typeof(Pager)" render-mode="Static" param-areaName="@("images")" param-pages="@Model.Pager" param-floatRight="true" />
        </div>
    </div>

    @foreach (var image in Model.Images)
    {
        <div class="col-lg-2 col-md-4 col-sm-6 p-3">     
            <component type="typeof(Thumbnail)" render-mode="Static" param-image="image" />   
        </div>
    }

    <div class="col-12">
        <div class="my-3 px-3">
            <i class="pt-3">Всего изображений: @(Model.Pager?.TotalItems ?? 0)</i>
            <component type="typeof(Pager)" render-mode="Static" param-areaName="@("images")" param-pages="@Model.Pager" param-floatRight="true" />
        </div>
    </div>

