@namespace RiseDiary.WebUI.Pages.Images

<table class="table table-striped">
    <thead>
        <tr>
            <th  style="width:200px;"></th>
            <th>Название</th>
            <th>Добавлено</th>
            <th>Изменено</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var img in Images)
        {
        <tr>
            <td style="white-space: nowrap">
                <label>
                    @if (CheckedAttribute(img.Id))
                    {
                        <input type="checkbox" id="@img.Id" style="vertical-align:middle" checked="checked" @onchange="@(e => ToggleSelection(img.Id))" />
                    }
                    else
                    {
                        <input type="checkbox" id="@img.Id" style="vertical-align:middle" @onchange="@(e => ToggleSelection(img.Id))" />
                    }
                    <img src="/Images/imagethumbnail/@img.Id" style="vertical-align:middle" />
                </label>
            </td>            
            <td>@img.Name</td>
            <td>@img.CreateDate.ToString("yyyy.MM.dd HH:mm:ss")</td>
            <td>@img.ModifyDate.ToString("yyyy.MM.dd HH:mm:ss")</td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4" style="text-align:center">
                @if(HiddenImagesExists()) 
                {
                    <button type="button" @onclick="@(async e => await LoadListPart())" class="btn btn-link">Показать еще <span class="glyphicon glyphicon-refresh"></span></button>
                }
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <a href="Records/View?recordId=@RecordId" class="btn btn-default">вернуться к записи</a>&nbsp;&nbsp;
                <button type="button" class="btn btn-success" @onclick="@(async e => await Save())">Сохранить</button>
            </td>
        </tr>
    </tfoot>
</table>
