@page "{handler?}"
@model RiseDiary.WebUI.Pages.Images.ViewModel
@{
    ViewData["Title"] = Model.Image.Name;
    ViewData["TitlePart"] = Model.Image.Name;
}

<div class="row">
    <div class="col-sm-10 col-sm-offset-1" style="padding-left:15px;padding-right:15px;">
        @if (!Model.ModelState.IsValid)
        {
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <div style="color:red;">
                        <h4>Ошибка валидации:</h4>
                        @Html.ValidationSummary()
                    </div>
                </div>
            </div>
        }
        <table class="table">
            <thead>
                <tr>
                    <th>Название изображения</th>
                    <th>Ширина</th>
                    <th>Высота</th>
                    <th>Размер</th>
                    <th>Дата создания</th>
                    <th>Дата обновления</th>
                    <th><a type="button" class="btn btn-danger btn-sm" href="/Images/Edit?imageId=@Model.Image.Id">Изменить</a></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div id="view-form">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <span style="float:left; font-size:larger">@Model.Image.Name</span>
                                            &nbsp;
                                            <button type="button" class="btn btn-link show-edit-form">
                                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="edit-form" style="visibility:collapse">
                            <form method="post">
                                <div class="form form-horizontal">
                                    <div class="input-group">
                                        <input type="hidden" name="imageId" value="@Model.Image.Id" />
                                        <input type="text" name="imageName" class="form-control" value="@Model.Image.Name" />
                                        <span class="input-group-btn">
                                            <input type="submit" class="btn btn-success" value="Обновить" asp-page-handler="UpdateImageName" />
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </td>
                    <td>@Model.Image.Width&nbsp;px;</td>
                    <td>@Model.Image.Height&nbsp;px;</td>
                    <td>@Model.Image.SizeKbString</td>
                    <td>@Model.Image.CreateDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>@Model.Image.ModifyDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>
                        
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Прикреплено к:</td>
                    <td colspan="6">
                        @if (Model.ImageLinks.Count > 0)
                        {
                            foreach (var lnk in Model.ImageLinks)
                            {
                                @:|&nbsp;
                                <a href="/Records/View?recordId=@lnk.Key">@lnk.Value</a>

                            }
                            @:&nbsp;|
                        }
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="col-sm-12">
        <a href="/Images/Edit?imageId=@Model.Image.Id">
            <img src="data:image;base64,@Model.FullImageString" class="img-thumbnail center-block" style="max-height:800px;" />
        </a>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on('click', '.show-edit-form', function () {
                let vid = $("#view-form");
                let eid = $("#edit-form");
                eid.removeAttr('style'); // у инлайновых стилей приоритет выше. JQuery show() не сработает
                vid.hide();
            });
        });
    </script>
}
