@using RiseDiary.Shared.Records

@inject NavigationManager NavManager

@if (Records.Count() == 0)
{
    <div class="col-12 p-5">
        <h3 style="color:silver">Нет записей</h3>
    </div>
}
else
{
    <div class="col-12">
        <table class="table table-striped">
            <tbody>
                @foreach (var rec in Records)
                {
                    <tr>
                        <td class="main-date-column">@rec.Date.ToString("yyyy.MM.dd")</td>
                        <td><NavLink href="@GetRecordLink(rec)">@rec.DisplayedName</NavLink></td>
                        <td class="date-column">@rec.CreatedDate.ToLocalTime().ToString("yyyy.MM.dd HH.mm.ss")</td>
                        <td class="date-column">@rec.ModifiedDate.ToLocalTime().ToString("yyyy.MM.dd HH.mm.ss")</td>
                    </tr>
                }
            </tbody>

            @if (TotalCount.HasValue)
            {
                <tfoot>
                    <tr>
                        <td colspan="4"><b><i>Записей отфильтровано : @TotalCount.Value</i></b></td>
                    </tr>
                </tfoot>
            }
        </table>
    </div>
}

@code {

    [Parameter]
    public IEnumerable<RecordListItemDto> Records { get; set; } = Enumerable.Empty<RecordListItemDto>();

    [Parameter]
    public int? TotalCount { get; set; }

    public string GetRecordLink(RecordListItemDto dto) => NavManager.GetUriWithQueryParameters("records/view", new Dictionary<string, object?>
        {
            ["recordId"] = dto.RecordId
        });
}
