@page "/images/edit/{ImageId:guid}/{RedirectRecordId:guid?}"

@inherits UIComponentBase

<PageTitle>Редактирование изображения</PageTitle>

@if (@_imageDto == null)
{
    <Spinner Loading="true" />
}
else
{
    <Spinner Loading="Loading">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-7 pt-1">
                        <ImageNameEditor CurrentImageName="@_imageDto.Name" ImageId="@_imageDto.Id" />
                    </div>

                    <div class="col-3">
                        <div class="pt-2">
                            <i>@_imageDto.Width / @_imageDto.Height (@_imageDto.SizeKb)</i>
                        </div>
                    </div>

                    <div class="col-2">
                        <div style="float:right;">
                            @if (RedirectRecordId.HasValue && RedirectRecordId.Value != default)
                            {
                                <NavLink href="@GetFullRecordUri(RedirectRecordId.Value)" class="btn btn-link" title="Венуться к записи">
                                    <img src="img/arrow-left-square.svg" width="20" height="20" alt="Венуться к записи" />
                                </NavLink>
                            }
                            else
                            {
                                <NavLink href="/images" class="btn btn-close pt-3" title="Закрыть"></NavLink>
                            }
                        </div>
                    </div>

                    @if (_imageDto.TempImage == null)
                    {
                        <div class="col-12">

                            @if (HasError)
                            {
                                <p style="color:red">@ErrorMessage</p>
                            }

                            <div class="pagination mt-2 mb-3">
                                <div class="me-2">
                                    <InputFile accept="image/*" style="display:none" OnChange="@ReplaceFile" id="addNewImageInput" />

                                    <button type="button" class="btn" title="Заменить изображение">
                                        <img src="img/arrow-repeat.svg" width="20" height="20" alt="Заменить изображение" onclick="document.getElementById('addNewImageInput').click()" />
                                    </button>
                                </div>

                                <div class="mx-2">
                                    <button type="submit" class="btn" @onclick="ScaleImage" title="Уменьшить размер изображения">
                                        <img src="img/aspect-ratio.svg" width="20" height="20" alt="Уменьшить размер изображения" />
                                    </button>
                                </div>

                                <div class="mx-2">
                                    <button class="btn" title="Обрезать изображение" @onclick="CropImage">
                                        <img src="@ScissorsIcon" width="20" height="20" alt="Обрезать изображение" />
                                    </button>
                                </div>

                                <div class="mx-2">
                                    <button class="btn" title="Повернуть влево" @onclick="async _ => await RotateImage(false)">
                                        <img src="img/arrow-counterclockwise.svg" width="20" height="20" alt="Повернуть влево" />
                                    </button>
                                </div>

                                <div class="mx-2">
                                    <button class="btn" title="Повернуть вправо" @onclick="async _ => await RotateImage(true)">
                                        <img src="img/arrow-clockwise.svg" width="20" height="20" alt="Повернуть вправо" />
                                    </button>
                                </div>

                                <div class="mx-2">
                                    <button class="btn" title="Удалить изображение" @onclick="DeleteImage">
                                        <img src="img/trash.svg" width="20" height="20" alt="Удалить" />
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-7">
                            Редактирование: <b style="color:brown">@_imageDto.TempImage.Modification</b>
                        </div>

                        <div class="col-3">
                            <i>@_imageDto.TempImage.Width / @_imageDto.TempImage.Height (@_imageDto.TempImage.SizeKb)</i>
                        </div>

                        <div class="col-12 m-2">
                            <div class="pagination">
                                <button type="submit" @onclick="SaveUpdatedImage" class="btn me-1" title="Сохранить изменения">
                                    <img src="img/clipboard-check.svg" width="20" height="20" alt="Сохранить изменения" />
                                </button>

                                <button type="submit" @onclick="SaveUpdatedAsNewImage" class="btn mx-1" title="Сохранить как новое изображение">
                                    <img src="img/front.svg" width="20" height="20" alt="Сохранить как новое" />
                                </button>

                                <button type="submit" @onclick="CancelEdit" class="btn mx-1" title="Отменить изменения">
                                    <img src="img/clipboard-x.svg" width="20" height="20" alt="Отменить изменения" />
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 col-sm-12 text-center mb-3">
                <img id="image-view" src="@ImageUri" class="img-fluid" />
            </div>

            <div class="col-lg-6 col-md-12">
                <ul class="list-group">
                    <li class="list-group-item">
                        <b>URI:</b> <i>@ImageUri.Split("?")[0]</i>
                    </li>

                    <li class="list-group-item">
                        @if (_imageDto.ImageLinks != null && (_imageDto.ImageLinks.Count > 0))
                        {
                            <b>Прикреплено к:</b>
                            foreach (var lnk in _imageDto.ImageLinks)
                            {
                                @:|&nbsp;
                                <NavLink href="@GetFullRecordUri(@lnk.Key)">@lnk.Value</NavLink>
                            }
                            @:&nbsp;|
                        }
                        else
                        {
                            <b>Не прикреплено</b>
                        }
                    </li>

                    <li class="list-group-item">
                        <i><b>Камера:</b> @(string.IsNullOrEmpty(_imageDto.CameraModel) ? "[НЕТ]" : @_imageDto.CameraModel)</i>
                    </li>
                </ul>
            </div>

            <div class="col-lg-6 col-md-12">
                <ul class="list-group">
                    <li class="list-group-item">
                        <i><b>Создано: </b>@_imageDto.CreateDate</i>
                    </li>

                    <li class="list-group-item">
                        <i><b>Изменено: </b>@_imageDto.ModifyDate</i>
                    </li>

                    <li class="list-group-item">
                        <i><b>Дата съемки: </b>@(_imageDto.Taken?.ToString("yyyy.MM.dd HH:mm:ss") ?? "[НЕТ]")</i>
                    </li>
                </ul>
            </div>
        </div>
    </Spinner>
}