@page "/images/upload"

@using RiseDiary.Shared.Images

@inherits UIComponentBase

<PageTitle>Загрузка изображений</PageTitle>

<Spinner Loading="Loading">
    <div class="row">
        @if (HasError)
        {
            <pre style="color:red;">@ErrorMessage</pre>
        }


        <div class="col-lg-4 col-md-5 col-sm-12 p-2">
            <InputFile accept="image/*" OnChange="@SelectFiles" multiple="multiple" class="form-control-file" />
        </div>

        <div class="col-lg-5 col-md-7 col-sm-12 p-2">
            <input type="text" placeholder="Название нового изображения" @bind-value="_imageName" class="form-control" />
        </div>

        <div class="col-lg-1 col-md-3 col-sm-6 p-2">
            <input type="number" placeholder="Сжимать, если сторона больше чем" @bind-value="_biggestDimmension" class="form-control" />
        </div>

        <div class="col-lg-2 col-md-3 col-sm-6 p-2">
            <button @onclick="Upload" class="btn btn-outline-success form-control">Загрузить</button>
        </div>


        <div class="col-12">
            <ul class="list-group">
                @foreach (var file in _loadedFiles)
                {
                    <li class="list-group-item">
                        @file.Name <i><b>@file.Size.ToFileSizeString())</b> (@file.ContentType)</i>

                        <button class="btn-close" type="button" @onclick="_ => _loadedFiles.Remove(file)"></button>
                    </li>
                }
            </ul>
        </div>

    </div>
</Spinner>