@page
@model RiseDiary.WebUI.Pages.Dates.CalendarModel
@{
    ViewData["Title"] = "Даты на календаре";
}

<component type="typeof(DatesSubmenu)" render-mode="Static" param-currentPage="@("calendar")" />

<div class="col-12">
    <div id="calendar" style="height:450px"></div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true"
     role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalHeader">События </h5>
                <button type="button" class="btn-close" aria-label="Close" onclick="closeModal()"></button>
            </div>
            <div class="modal-body" id="modalBody">

            </div>
        </div>
    </div>
</div>

<div class="modal-backdrop fade show" id="backdrop" style="display: none;"></div>

@section Styles {
    <link href="~/lib/calendar/dist/js-year-calendar.min.css" rel="stylesheet" />
}

@section Scripts {

    <script src="~/lib/calendar/dist/js-year-calendar.min.js"></script>

    <script type="text/javascript">

        const dates = @Html.Raw(Model.RecordsJsObjectsList);


        let modal = document.getElementById('exampleModal');

        function openModal() {

            if (!datesExists) return;

            document.getElementById("backdrop").style.display = "block"
            document.getElementById("exampleModal").style.display = "block"
            document.getElementById("exampleModal").classList.add("show");
        }

        function closeModal() {
            document.getElementById("backdrop").style.display = "none"
            document.getElementById("exampleModal").style.display = "none"
            document.getElementById("exampleModal").classList.remove("show");
        }

        let datesExists = false;

        function updateLinksList(startDate) {

            let currentDates = new Array();
            let _date = startDate.getTime();
            for (let i = 0; i < dates.length; i++) {
                if (dates[i].startDate.getTime() === _date) {
                    currentDates.push(dates[i]);
                }
            }

            document.getElementById("modalBody").innerHTML = "";

            if (currentDates.length > 0) {
                let ul = document.createElement("ul");

                for (let i = 0; i < currentDates.length; i++) {
                    let a = document.createElement("a");
                    a.style.textDecoration = "none";
                    a.setAttribute("href", "/Records/View?recordId=" + encodeURIComponent(currentDates[i].id));
                    a.innerHTML = currentDates[i].name;

                    let li = document.createElement("li");
                    li.appendChild(a);
                    li.classList.add("mb-3")
                    ul.appendChild(li);
                }

                document.getElementById("modalBody").appendChild(ul);
                document.getElementById("modalHeader").innerHTML =
                    "События " + startDate.getFullYear() + "." +
                    ("0" + (startDate.getMonth() + 1)).slice(-2) + "." +
                    ("0" + startDate.getDate()).slice(-2);

                datesExists = true;
            }
        }

        new Calendar('#calendar', {
            style: 'background',
            enableRangeSelection: true,
            displayHeader: false,
            mouseOnDay: function (e) {
                updateLinksList(e.date);
            },
            mouseOutDay: function (e) {
                datesExists = false;
            },
            selectRange: function (e) {
                openModal();
            },
            startYear: @Model.Today.Year,
            maxDate: new Date(@Model.Today.Year, 11, 31),
            minDate: new Date(@Model.Today.Year, 0, 1),
            dataSource: dates
        });
    </script>
}
