@page
@model RiseDiary.WebUI.Pages.Dates.ListModel
@{
    ViewData["Title"] = "Все даты";
    ViewData["TitlePart"] = "Все даты";

}
@section Styles
    {
    <style>
        #navigationPanel {
            background-color: #d1fffe;
            text-align: center;
            padding: 5px;
        }
    </style>
}
<div class="panel panel-default">
    <div class="form-horizontal" id="navigationPanel">
        <a href="~/Dates/setup" class="btn-link">Настройки</a>
        &nbsp;|&nbsp;
        <a href="~/Dates/index" class="btn-link">Ближайшие даты</a>
        &nbsp;|&nbsp;
        <a href="~/Dates/calendar" class="btn-link">Даты на календаре</a>
    </div>
</div>
<table class="table table-striped">
    <tbody>
        @foreach (var date in Model.Dates)
        {
            <tr>
                <td>
                    @date.DisplayDate
                </td>
                <td>
                    @date.Theme
                </td>
                <td>
                    @date.Date.ToString("yyyy.MM.dd")
                </td>
                <td>
                    <a href="~/Records/View?recordId=@date.Id">@date.Name</a>
                </td>
                <td>
                    @date.Text
                </td>
            </tr>
        }
    </tbody>
</table>

