@page
@model RiseDiary.WebUI.Pages.Dates.ListModel

@{
    ViewData["Title"] = "Все даты";
}

<component type="typeof(DatesSubmenu)" render-mode="Static" param-currentPage="@("fulllist")" />

<div class="col-12">
    <table class="table table-striped">
        <tbody>
            @foreach (var date in Model.Dates)
            {
            <tr>
                <td>
                    @date.TransferredDate.ToString("yyyy.MM.dd ddd", System.Globalization.CultureInfo.CurrentCulture)
                </td>
                <td style="color:darkred">
                    @date.Date.ToString("yyyy.MM.dd")
                </td>                
                <td>
                    <a href="~/Records/View?recordId=@date.Id">@date.Name</a>
                    <p class="small"><i>@date.Themes</i></p>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
