@page
@model RiseDiary.WebUI.Pages.Dates.IndexModel
@{
    ViewData["Title"] = "Ближайшие даты";
}

<component type="typeof(DatesSubmenu)" render-mode="Static" param-currentPage="@("index")" />

<div class="col-12">
    <table class="table">
        <tbody>
            @foreach (var date in Model.Dates)
            {
                <tr style=@Html.Raw(Model.GetRowStyle(date))>
                    <td>
                        @date.TransferredDate.ToString("yyyy.MM.dd ddd", System.Globalization.CultureInfo.CurrentCulture)
                    </td>
                    <td style="color:darkred">
                        @date.Date.ToString("yyyy.MM.dd")
                    </td>
                    <td>
                        <a href="~/Records/View?recordId=@date.Id">@date.Name</a>
                        <p class="small"><i>@date.Themes</i></p>
                    </td>                   
                </tr>
             }
        </tbody>
    </table>
</div>



