@page
@model RiseDiary.WebUI.Pages.Dates.IndexModel
@{
    ViewData["Title"] = "Ближайшие даты";
    ViewData["TitlePart"] = "Ближайшие даты";
}
@section Styles
    {
    <style>
        #navigationPanel {
            background-color: #d1fffe;
            text-align: center;
            padding: 5px;
        }
    </style>
}
<div class="panel panel-default">
    <div class="form-horizontal" id="navigationPanel">
        <a href="~/Dates/setup" class="btn-link">Настройки</a>
        &nbsp;|&nbsp;
        <a href="~/Dates/fulllist" class="btn-link">Все даты года</a>
        &nbsp;|&nbsp;
        <a href="~/Dates/calendar" class="btn-link">Даты на календаре</a>
    </div>
</div>
<table class="table">
    <tbody>
        @foreach (var date in Model.Dates)
        {
            @* Важный день, сегодня *@
            @if (!date.IsWeekday && date.IsToday)
            {
                <tr style="background-color:#fe9393">
                    <td>
                        @date.DisplayDate
                    </td>
                    <td>
                        @date.Theme
                    </td>
                    <td>
                        @date.Date.ToString("yyyy.MM.dd")
                    </td>
                    <td>
                        <a href="~/Records/View?recordId=@date.Id">@date.Name</a>
                    </td>
                    <td>
                        @Html.Raw(date.Text)
                    </td>
                </tr>

            }
            @* Важный день, не сегодня *@
            @if (!date.IsWeekday && !date.IsToday)
            {
                <tr style="background-color:#ebfb78">
                    <td>
                        @date.DisplayDate
                    </td>
                    <td>
                        @date.Theme
                    </td>
                    <td>
                        @date.Date.ToString("yyyy.MM.dd")
                    </td>
                    <td>
                        <a href="~/Records/View?recordId=@date.Id">@date.Name</a>
                    </td>
                    <td>
                        @Html.Raw(date.Text)
                    </td>
                </tr>
            }
            @* Обычный день, сегодня *@
            @if (date.IsWeekday && date.IsToday)
            {
                <tr style="background-color:#ffb98a">
                    <td>
                        @date.DisplayDate
                    </td>
                    <td colspan="2">
                        Нет событий (сегодня)
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            }
            @* Обычный день, не сегодня  *@
            @if (date.IsWeekday && !date.IsToday)
            {
                <tr style="background-color:#b0f8c4">
                    <td>
                        @date.DisplayDate
                    </td>
                    <td>
                        Нет событий
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }

        }
    </tbody>
</table>



