@page "{handler?}"
@model RiseDiary.WebUI.Pages.Dates.SetupModel
@{
    ViewData["Title"] = "Настройки отображения дат";
}

<component type="typeof(DatesSubmenu)" render-mode="Static" param-currentPage="@("setup")" />

<div class="offset-lg-3 col-lg-6 col-md-12 mt-2 mb-2">
<form method="post">
    <div class="card">
        <div class="card-header">
            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <p style="color:red">@Model.ErrorMessage</p>
            }
            <h4>@Model.Message</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    Выберите сферу интересов для дат:
                </div>
                <div class="col-6">
                    <select class="form-control" name="scopeId" id="scopeId">
                        @foreach (var scope in Model.Scopes)
                        {
                            @if (Model.SelectedScopeId == scope.Id)
                            {
                                <option value="@scope.Id" selected="selected">@scope.ScopeName</option>
                            }
                            else
                            {
                                <option value="@scope.Id">@scope.ScopeName</option>
                            }

                        }
                    </select>
                </div>
                <div class="col-6 mt-2">
                    Введите количество дней для отображения дат:
                </div>
                <div class="col-6 mt-2">
                    <input type="number" name="displayRange" id="displayRange" class="form-control" value="@Model.DaysDisplayRange" />
                </div>
            </div>            
        </div>
        <div class="card-footer">
            <input type="submit" class="btn btn-outline-success mt-2" value="Сохранить" />
        </div>
    </div>
</form>
</div>
