@using RiseDiary.Model
@using RiseDiary.Shared

@namespace RiseDiary.WebUI.Pages

<form method="get">
    <input type="hidden" name="pageNo" value="1" />

    <div class="row">

        <div class="col-lg-2 col-sm-6 my-2">
            <input type="date" class="form-control" title="От" name="fromDate" value="@(RecordsFilter.FromDate?.ToString("yyyy-MM-dd") ?? "")" />
        </div>

        <div class="col-lg-2 col-sm-6 my-2">
            <input type="date" class="form-control" title="До" name="toDate" value="@(RecordsFilter.ToDate?.ToString("yyyy-MM-dd") ?? "")" />
        </div>

        <div class="col-lg-3 col-sm-12 my-2">
            <input type="text" class="form-control" placeholder="Фильтр по названию" title="Фильтр по названию" name="filterName" value="@RecordsFilter.FilterName" />
        </div>

        <div class="col-lg-1 col-sm-6 my-2">
            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#themesFilter">
                Темы
            </button>

            <div class="modal fade" id="themesFilter" tabindex="-1" aria-labelledby="themesFilterLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">

                            <h5 class="modal-title" id="exampleModalLabel">Фильтр по темам</h5>

                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>
                                <label>
                                    @if (RecordsFilter.CombineThemes)
                                    {
                                        <input type="checkbox" name="combineThemes" checked="checked" value="true" title="Выводить записи, которые относятся к любой выбранной теме (по правилу 'ИЛИ')" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" name="combineThemes" value="true" title="Выводить записи, которые относятся к любой выбранной теме (по правилу 'ИЛИ')" />
                                    }
                                    Выводить записи, которые относятся к любой выбранной теме (по правилу 'ИЛИ')
                                </label>
                            </p>
                            <hr />
                            <p>
                                <h6>Актуальные темы</h6>
                                <ul>
                                    @foreach (var scope in AllScopes)
                                    {
                                        @if (scope.Themes.Count(t => t.Actual) > 0)
                                        {
                                            <li>
                                                <h6 style="color:blue">@scope.ScopeName</h6>
                                                <ul>
                                                    @foreach (var theme in scope.Themes.Where(t => t.Actual))
                                                    {
                                                        <li>
                                                            <label>
                                                                @if (SelectedThemes.Contains(theme.Id))
                                                                {
                                                                    <input type="checkbox" name="themes" checked="checked" value="@theme.Id" />
                                                                }
                                                                else
                                                                {
                                                                    <input type="checkbox" name="themes" value="@theme.Id" />
                                                                }
                                                                &nbsp;@theme.ThemeName
                                                            </label>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                    }
                                </ul>
                            </p>
                            <hr />
                            <p>
                                <button class="btn btn-link text-decoration-none" type="button" data-bs-toggle="collapse" data-bs-target="#notActualThemes" aria-expanded="false" aria-controls="notActualThemes">
                                    Остальные темы
                                </button>

                                <div class="collapse" id="notActualThemes">
                                    <ul>
                                        @foreach (var scope in AllScopes)
                                        {
                                            @if (scope.Themes.Count(t => !t.Actual) > 0)
                                            {
                                                <li>
                                                    <h6 style="color:blue">@scope.ScopeName</h6>
                                                    <ul>
                                                        @foreach (var theme in scope.Themes.Where(t => !t.Actual))
                                                        {
                                                            <li>
                                                                <label>
                                                                    @if (SelectedThemes.Contains(theme.Id))
                                                                    {
                                                                        <input type="checkbox" name="themes" checked="checked" value="@theme.Id" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input type="checkbox" name="themes" value="@theme.Id" />
                                                                    }
                                                                    &nbsp;@theme.ThemeName
                                                                </label>
                                                            </li>
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-outline-info" style="float: right">Применить</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-2 col-sm-6 my-3">
            <input type="checkbox" name="expanded" id="expanded" checked="@Expanded" value="true"/>
            <label for="expanded">Развернуто</label>           
        </div>

        <div class="col-lg-2 col-sm-12 my-2">
            <button type="submit" class="btn btn-outline-info" style="float: right">Применить</button>            
        </div>
    </div>
</form>

@code {

    [Parameter]
    public string AreaName { get; set; } = "";

    [Parameter]
    public IEnumerable<DiaryScope> AllScopes { get; set; } = null!;

    [Parameter]
    public Guid[] SelectedThemes { get; set; } = null!;

    [Parameter]
    public PagesInfo PagesInfo { get; set; } = null!;

    [Parameter]
    public RecordsFilter RecordsFilter { get; set; } = null!;

    [Parameter]
    public bool Expanded { get; set;}

}
