@using RiseDiary.Model
@namespace RiseDiary.WebUI.Pages

<div class="card">
    <div id="@("fullImage-" + ImageId)" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <img src="/api/v1.0/image-file/@ImageId" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

    @if (!OnlyImage) 
    { 
    <div class="card-header text-wrap text-center">
        <a href="/images/Edit?imageId=@ImageId&recordId=@(RecordId?.ToString() ?? "")">@ImageName</a>
    </div>
    }

    <div class="card-body">
        <div class="text-center">
            <a data-bs-toggle="modal" data-bs-target="@("#fullImage-" + ImageId)" style="cursor:pointer">
                <img src="/api/v1.0/image-thumbnail/@ImageId" class="img-thumbnail" />
            </a>
        </div>
    </div>

    @if (!OnlyImage)
    {
    <div class="card-footer text-center">
        @if (ChildContent != null)
        {
            @ChildContent
        }
        else
        {
           @((Image?.Width ?? 0) + " / " + (Image?.Height ?? 0)) <b>@(Image?.GetSizeKbString() ?? "?")</b>
        }
    </div>
    }
</div>

@code {
    private DiaryImage? _image = null;

    [Parameter]
    public DiaryImage? Image {
        get => _image;
        set
        {
            _image = value ?? throw new ArgumentNullException("Image");
            ImageId = _image.Id;
            ImageName = _image.Name;
        }
    }

    [Parameter]
    public bool OnlyImage { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public Guid ImageId { get; set; }

    [Parameter]
    public Guid? RecordId { get; set; }

    [Parameter]
    public string ImageName { get; set; } = "";
}
