@using RiseDiary.Model

@namespace RiseDiary.WebUI.Pages.Records

@inject IJSRuntime _JSRuntime
@inject IRecordsThemesService ThemesService
@inject IScopesService ScopesService

@if (_criticalError is not null)
{
    <p style="color:red">Произошла критическая ошибка: @_criticalError</p>
}
else
{
    <div>
        <h6 style="display:inline"><i>@AllThemes</i></h6>

        <button type="button" class="btn btn-link p-0" title="Выбор тем записи" data-bs-toggle="modal" data-bs-target="#themesFilter">
            <img src="img/pen.svg" />
        </button>
    </div>
}

<div style="text-align:left" class="modal fade" id="themesFilter" tabindex="-1" aria-labelledby="themesFilterLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h5 class="modal-title" id="exampleModalLabel">Выбор тем записи</h5>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    <h6>Актуальные темы</h6>
                    <ul>
                        @foreach (var scope in _allScopes)
                        {
                            @if (scope.Themes.Count(t => t.Actual) > 0)
                            {
                                <li>
                                    <h6 style="color:blue">@scope.ScopeName</h6>
                                    <ul>
                                        @foreach (var theme in scope.Themes.Where(t => t.Actual))
                                        {
                                            <li>
                                                <label>
                                                    @if (_selectedThemes.Any(t => t.ThemeId == theme.Id))
                                                    {
                                                        <input @onchange="_ => CheckboxChange(theme.Id)" type="checkbox" checked="checked" value="@theme.Id" />
                                                    }
                                                    else
                                                    {
                                                        <input @onchange="_ => CheckboxChange(theme.Id)" type="checkbox" value="@theme.Id" />
                                                    }
                                                    &nbsp;@theme.ThemeName
                                                </label>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                        }
                    </ul>
                </p>
                <hr />
                <p>
                    <button class="btn btn-link text-decoration-none" type="button" data-bs-toggle="collapse" data-bs-target="#notActualThemes" aria-expanded="false" aria-controls="notActualThemes">
                        Остальные темы
                    </button>

                    <div class="collapse" id="notActualThemes">
                        <ul>
                            @foreach (var scope in _allScopes)
                            {
                                @if (scope.Themes.Count(t => !t.Actual) > 0)
                                {
                                    <li>
                                        <h6 style="color:blue">@scope.ScopeName</h6>
                                        <ul>
                                            @foreach (var theme in scope.Themes.Where(t => !t.Actual))
                                            {
                                                <li>
                                                    <label>
                                                        @if (_selectedThemes.Any(t => t.ThemeId == theme.Id))
                                                        {
                                                            <input @onchange="_ => CheckboxChange(theme.Id)" type="checkbox" checked="checked" value="@theme.Id" />
                                                        }
                                                        else
                                                        {
                                                            <input @onchange="_ => CheckboxChange(theme.Id)" type="checkbox" value="@theme.Id" />
                                                        }
                                                        &nbsp;@theme.ThemeName
                                                    </label>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" @onclick="async _ => await UpdateThemes()" class="btn btn-outline-success">Сохранить</button>
            </div>
        </div>
    </div>
</div>


@code {

    [Parameter]
    public Guid RecordId { get; set; }

    private ICollection<DiaryScope> _allScopes = Array.Empty<DiaryScope>();

    private ICollection<DiaryRecordTheme> _selectedThemes = Array.Empty<DiaryRecordTheme>();

    private List<Guid> _changedThemesList = new List<Guid>();

    private string? _criticalError;


    private ICollection<string> ThemesList
    {
        get
        {
            try
            {                
                return _selectedThemes?.Select(tr => tr.Theme?.ThemeName ?? "")?.ToArray() ?? Array.Empty<string>();
            }
            catch (Exception exc)
            {
                _criticalError = exc.Message;
                return Array.Empty<string>();
            }
        }
    }

    private string AllThemes => string.Join(" | ", ThemesList);


    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        try
        {
            _allScopes = await ScopesService.GetScopes();
            _selectedThemes = await ThemesService.GetRecordThemes(RecordId);
            _changedThemesList = _selectedThemes.Select(st => st.ThemeId).ToList();            
        }
        catch (Exception exc)
        {
            _criticalError = exc.Message;
        }
    }

    private void CheckboxChange(Guid themeId)
    {
        try
        {
            if (_changedThemesList.Contains(themeId))
            {
                _changedThemesList.Remove(themeId);
            }
            else
            {
                _changedThemesList.Add(themeId);
            }            
        }
        catch (Exception exc)
        {
            _criticalError = exc.Message;
        }
    }

    private async Task UpdateThemes()
    {
        try
        {
            await _JSRuntime.InvokeVoidAsync("eval", "bootstrap.Modal.getInstance(document.getElementById('themesFilter')).hide()");

            var removed = _selectedThemes.Where(st => !_changedThemesList.Contains(st.ThemeId)).Select(st => st.ThemeId);
            if (removed.Any())
            {
                await ThemesService.RemoveRecordTheme(RecordId, removed);
            }

            var added = _changedThemesList.Where(tid => !_selectedThemes.Any(st => st.ThemeId == tid));
            if (added.Any())
            {
                await ThemesService.AddRecordTheme(RecordId, added);
            }

            if (removed.Any() || added.Any())
            {
                _selectedThemes = await ThemesService.GetRecordThemes(RecordId);
                _changedThemesList = _selectedThemes.Select(st => st.ThemeId).ToList();
            }
        }
        catch (Exception exc)
        {
            _criticalError = exc.Message;
        }
    }
}
